<md-dialog class="tamura-dialog" ng-cloak>

    <md-toolbar class="tamura-dialog-toolbar">
        <div class="md-toolbar-tools">
            {{ 'add-customer-group-dialog.add-customer-group' | translate }}
        </div>
    </md-toolbar>

    <md-dialog-content class="tamura-dialog-content">

        <form name="addCustomerGroupForm">

            <div class="row form-row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label class="form-label" for="name">{{'add-customer-group-dialog.group-name' | translate}}</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input required type="text" name="name" id="name" ng-model="name" class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label class="form-label">{{'add-customer-group-dialog.deactivated' | translate}}</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 div-checkboxes">
                    <input type="checkbox" ng-model="deactivated">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="form-label">{{'add-customer-group-dialog.key-account-manager' | translate}}</label>
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <md-autocomplete
                            md-no-cache="true"
                            md-selected-item="keyAccountManager"
                            md-search-text="keyAccountManagerSearchText"
                            md-search-text-change="keyAccountManagerSearchTextChange(keyAccountManagerSearchText)"
                            md-items="m in keyAccountManagers"
                            md-item-text="m.name"
                            md-min-length="0"
                            placeholder="{{'add-customer-group-dialog.select-key-account-manager' | translate}}"
                    >
                        <md-item-template>
                            <span md-highlight-text="keyAccountManagerSearchText" md-highlight-flags="^i">{{m.name}}</span>
                        </md-item-template>
                    </md-autocomplete>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <input type="text" name="keyAccountManagerPhone" id="keyAccountManagerPhone" ng-model="keyAccountManager.phone" class="form-control form-input">
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-mobile"></i>
                        </div>
                        <input type="text" name="keyAccountManagerMobile" id="keyAccountManagerMobile" ng-model="keyAccountManager.mobile" class="form-control form-input">
                    </div>
                </div>

            </div>

        </form>

    </md-dialog-content>

    <md-dialog-actions class="" layout="row">

        <span flex></span>

        <button class="btn btn-danger" ng-click="cancel()">
            {{ 'add-customer-group-dialog.cancel' | translate }}
        </button>
        &nbsp;&nbsp;&nbsp;
        <button class="btn btn-success" ng-click="addCustomerGroup()">
            {{ 'add-customer-group-dialog.save' | translate }}
        </button>

    </md-dialog-actions>

</md-dialog>
