<md-dialog class="tamura-dialog" ng-cloak>

    <md-toolbar class="tamura-dialog-toolbar">
        <div class="md-toolbar-tools">
           {{ 'new-std-item-dialog.new-std-item' | translate }}
        </div>
    </md-toolbar>

    <md-dialog-content class="tamura-dialog-content">

        <form name="newStdItemForm">

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="stdItemCategory">{{'new-std-item-dialog.category' | translate}}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <input type="text" name="stdItemCategory" id="stdItemCategory" ng-model="newStdItem.category"  class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="stdItemDesignOffice">{{'new-std-item-dialog.design-office' | translate}}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <input type="text" name="stdItemDesignOffice" id="stdItemDesignOffice" ng-model="newStdItem.designOffice"  class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="stdItemFactory">{{'new-std-item-dialog.factory' | translate}}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <input type="text" name="stdItemFactory" id="stdItemFactory" ng-model="newStdItem.factory"  class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="stdItemSalesOffice">{{'new-std-item-dialog.sales-office' | translate}}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <input type="text" name="stdItemSalesOffice" id="stdItemSalesOffice" ng-model="newStdItem.salesOffice"  class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="stdItemTamId">{{'new-std-item-dialog.tam-id' | translate}}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <input type="number" name="stdItemTamId" id="stdItemTamId" ng-model="newStdItem.tamId"  class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="stdItemPartNumber">{{'new-std-item-dialog.part-number' | translate}}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <input type="text" name="stdItemPartNumber" id="stdItemPartNumber" ng-model="newStdItem.partNumber"  class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="stdItemDescription">{{'new-std-item-dialog.description' | translate}}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <input type="text" name="stdItemDescription" id="stdItemDescription" ng-model="newStdItem.description"  class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="stdItemBoxQuantity">{{'new-std-item-dialog.box-quantity' | translate}}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <input type="number" name="stdItemBoxQuantity" id="stdItemBoxQuantity" ng-model="newStdItem.boxQuantity"  class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="stdItemCartonQuantity">{{'new-std-item-dialog.carton-quantity' | translate}}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <input type="number" name="stdItemCartonQuantity" id="stdItemCartonQuantity" ng-model="newStdItem.cartonQuantity"  class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="stdItemPalletQuantity">{{'new-std-item-dialog.pallet-quantity' | translate}}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <input type="number" name="stdItemPalletQuantity" id="stdItemPalletQuantity" ng-model="newStdItem.palletQuantity"  class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="stdItemUnitWeight">{{'new-std-item-dialog.unit-weight' | translate}}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <input type="number" name="stdItemUnitWeight" id="stdItemUnitWeight" ng-model="newStdItem.unitWeight"  class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="stdItemCurrency">{{'new-std-item-dialog.currency' | translate}}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <input type="text" name="stdItemCurrency" id="stdItemCurrency" ng-model="newStdItem.currency"  class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="stdItemBuyPriceFcaHk">{{'new-std-item-dialog.buy-price-fca-hk' | translate}}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <input type="number" name="stdItemBuyPriceFcaHk" id="stdItemBuyPriceFcaHk" ng-model="newStdItem.buyPriceFcaHk"  class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="stdItemComment">{{'new-std-item-dialog.comment' | translate}}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <textarea name="stdItemComment" id="stdItemComment" ng-model="newStdItem.comment" class="form-control form-input"></textarea>
                </div>
            </div>


        </form>

    </md-dialog-content>

    <md-dialog-actions class="" layout="row">

        <span flex></span>

        <button class="btn btn-danger" ng-click="cancel()">
            {{ 'new-std-item-dialog.cancel' | translate }}
        </button>
        &nbsp;&nbsp;&nbsp;
        <button class="btn btn-success" ng-click="saveNewStdItem()">
            {{ 'new-std-item-dialog.save' | translate }}
        </button>

    </md-dialog-actions>

</md-dialog>
