<div class="container-fluid" ng-if="isSuperUser()">
    <div class="row">

        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'admin.admin-functions' | translate}}
                </div>
                <div class="panel-body">

                    <table class="table table-responsive">
                        <tr>
                            <td>
                                <span class="info">{{"admin.currency-update-text" | translate}}</span>
                            </td>
                            <td>
                                <button class="btn btn-primary" ng-click="updateAppliParamDate('LastUpdate_Currency')">{{"admin.last-update-currency" | translate}}</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="info">{{"admin.material-update-text" | translate}}</span>
                            </td>
                            <td>
                                <button class="btn btn-primary" ng-click="updateAppliParamDate('LastUpdate_MAT')">{{"admin.last-update-mat" | translate}}</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="info">{{"admin.category-update-text" | translate}}</span>
                            </td>
                            <td>
                                <button class="btn btn-primary" ng-click="updateAppliParamDate('LastUpdate_Categories')">{{"admin.last-update-categories" | translate}}</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="info">{{"admin.countries-update-text" | translate}}</span>
                            </td>
                            <td>
                                <button class="btn btn-primary" ng-click="updateAppliParamDate('LastUpdate_Countries')">{{"admin.last-update-countries" | translate}}</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="info">{{"admin.incoterms-update-text" | translate}}</span>
                            </td>
                            <td>
                                <button class="btn btn-primary" ng-click="updateAppliParamDate('LastUpdate_Incoterms')">{{"admin.last-update-incoterms" | translate}}</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="info">{{"admin.dead-reasons-update-text" | translate}}</span>
                            </td>
                            <td>
                                <button class="btn btn-primary" ng-click="updateAppliParamDate('LastUpdate_DeadReasons')">{{"admin.last-update-dead-reasons" | translate}}</button>
                            </td>
                        </tr>
                    </table>

                </div>

            </div>

        </div>
    </div>
</div>

