<div class="container-fluid">
    <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'customer-directory.customer-directory' | translate}}
                </div>
                <div class="panel-body">
                    <div class="row form-row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button class="btn btn-primary" ng-click="expandAll()">{{'customer-directory.expand-all' | translate}}</button>
                            <button class="btn btn-primary" ng-click="collapseAll()">{{'customer-directory.collapse-all' | translate}}</button>
                            <button class="btn btn-primary" ng-click="addCustomerGroup($event, null, null)">{{'customer-directory.add-group' | translate}}</button>
                            <button class="btn btn-primary" ng-click="addCustomerCompany($event, null)">{{'customer-directory.add-customer' | translate}}</button>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button class="btn btn-primary" ng-if="!deactivatedViewed" ng-click="showDeactivated()">{{'customer-directory.display-deactivated' | translate}}</button>
                            <button class="btn btn-primary" ng-if="deactivatedViewed" ng-click="hideDeactivated()">{{'customer-directory.hide-deactivated' | translate}}</button>
                        </div>
                    </div>
                    <div ui-tree data-nodrop-enabled="true" data-drag-enabled="false">
                        <ol ui-tree-nodes="" ng-model="customerTree">
                            <li ng-repeat="par in customerTree" ui-tree-node >
                                <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'group' : par.type == 'group', 'company' : par.type == 'company'}">
                                    <a ng-if="par.type == 'group'" class="btn btn-success btn-xs tree-node-collapse-btn" ng-class="{'uncollapsed': !collapsed}"   data-nodrag="true" ng-click="toggle(this)">
                            <span class="glyphicon glyphicon-chevron-down" ng-class="{
                            'glyphicon-chevron-right': collapsed,
                            'glyphicon-chevron-down': !collapsed,
                            'uncollapsed': !collapsed
                            }"></span>
                                    </a>
                                    <span class="tree-node-title" ng-click="showEntity(par.id, true)">
                            {{par.name}}
                        </span>
                                </div>
                                <ol ui-tree-nodes="" ng-model="par.children" ng-class="{hidden : collapsed}">
                                    <li ng-repeat="ch1 in par.children" ui-tree-node>
                                        <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'group' : ch1.type == 'group', 'company' : ch1.type == 'company'}">
                                            <a ng-if="ch1.type == 'group'" class="btn btn-success btn-xs tree-node-collapse-btn" ng-class="{'uncollapsed': !collapsed}" data-nodrag="true" ng-click="toggle(this)">
                                    <span class="glyphicon glyphicon-chevron-down" ng-class="{
                                    'glyphicon-chevron-right': collapsed,
                                    'glyphicon-chevron-down': !collapsed,
                                    'uncollapsed': !collapsed
                                    }"></span>
                                            </a>
                                            <span class="tree-node-title" ng-click="showEntity(ch1.id, true)">
                                    {{ch1.name}}
                                </span>
                                        </div>
                                        <ol ui-tree-nodes="" ng-model="par.children" ng-class="{hidden : collapsed}">
                                            <li ng-repeat="ch2 in ch1.children" ui-tree-node>
                                                <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'group' : ch2.type == 'group', 'company' : ch2.type == 'company'}">
                                                    <a ng-if="ch2.type == 'group'" class="btn btn-success btn-xs tree-node-collapse-btn" ng-class="{'uncollapsed': !collapsed}" data-nodrag="true" ng-click="toggle(this)">
                                            <span class="glyphicon glyphicon-chevron-down" ng-class="{
                                            'glyphicon-chevron-right': collapsed,
                                            'glyphicon-chevron-down': !collapsed,
                                            'uncollapsed': !collapsed
                                            }"></span>
                                                    </a>
                                                    <span class="tree-node-title" ng-click="showEntity(ch2.id, false)">
                                            {{ch2.name}}
                                        </span>
                                                </div>
                                                <ol ui-tree-nodes="" ng-model="par.children" ng-class="{hidden : collapsed}">
                                                    <li ng-repeat="ch3 in ch2.children" ui-tree-node>
                                                        <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'group' : ch3.type == 'group', 'company' : ch3.type == 'company'}">
                                                            <a ng-if="ch3.type == 'group'" class="btn btn-success btn-xs tree-node-collapse-btn" ng-class="{'uncollapsed': !collapsed}" data-nodrag="true" ng-click="toggle(this)">
                                                    <span class="glyphicon glyphicon-chevron-down" ng-class="{
                                                    'glyphicon-chevron-right': collapsed,
                                                    'glyphicon-chevron-down': !collapsed,
                                                    'uncollapsed': !collapsed
                                                    }"></span>
                                                            </a>
                                                            <span class="tree-node-title" ng-click="showEntity(ch3.id, false)">
                                                    {{ch3.name}}
                                                </span>
                                                        </div>
                                                    </li>
                                                </ol>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" ng-if="entityViewed && entity !== null">
            <form name="entityForm" ng-submit="saveEntity()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{'customer-directory.details' | translate}}
                        <span ng-if="entity.type === 'company'">- {{'customer-directory.customer' | translate}}</span>
                        <span ng-if="entity.type === 'group'">- {{'customer-directory.group' | translate}}</span>
                    </div>
                    <div class="panel-body">

                        <div class="row form-row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-primary" ng-if="canAddGroup" ng-click="addCustomerGroup($event, entity.id, entity.id_root)">{{'customer-directory.add-sub-group' | translate}}</button>
                                <button class="btn btn-primary" ng-click="addCustomerCompany($event, entity)">{{'customer-directory.add-customer' | translate}}</button>
                                <button class="btn btn-primary" ng-click="deleteCustomer(entity)">{{'customer-directory.delete' | translate}}</button>

                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="name">{{'customer-directory.group-customer-name' | translate}}</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <input type="text" name="name" id="name" ng-model="entity.name" class="form-control form-input">
                            </div>
                        </div>

                        <div class="row form-row" ng-if="entity.type === 'company'">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="cust-to-group">{{'customer-directory.assign-customer-to-group' | translate}}</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <select name="cust-to-group" id="cust-to-group" ng-model="entity.id_root" class="form-control form-input"
                                        ng-options="group.name for group in customerGroups track by group.id">
                                </select>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label">{{'customer-directory.deactivated' | translate}}</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 div-checkboxes">
                                <input type="checkbox"  ng-model="entity.deactivated">
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label">{{'customer-directory.key-account-manager' | translate}}</label>
                            </div>
                        </div>


                        <div class="row form-row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <md-autocomplete
                                        md-no-cache="true"
                                        md-selected-item="entity.key_account_manager"
                                        md-search-text="keyAccountManagerSearchText"
                                        md-search-text-change="keyAccountManagerSearchTextChange(keyAccountManagerSearchText)"
                                        md-items="m in keyAccountManagers"
                                        md-item-text="m.name"
                                        md-min-length="0"
                                        placeholder="{{'customer-directory.select-key-account-manager' | translate}}"
                                >
                                    <md-item-template>
                                        <span md-highlight-text="keyAccountManagerSearchText" md-highlight-flags="^i">{{m.name}}</span>
                                    </md-item-template>
                                </md-autocomplete>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <input type="text" name="keyAccountManagerPhone" id="keyAccountManagerPhone" ng-model="entity.key_account_manager.phone" class="form-control form-input">
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-mobile"></i>
                                    </div>
                                    <input type="text" name="keyAccountManagerMobile" id="keyAccountManagerMobile" ng-model="entity.key_account_manager.mobile" class="form-control form-input">
                                </div>
                            </div>

                        </div>

                        <div class="row form-row" ng-if="entity.type == 'company'">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label">{{'customer-directory.payment-term' | translate}}</label>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                <select name="paymentTermNr" ng-model="entity.payment_term_nr" class="form-control">
                                    <option value=""></option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                    <option value="60">60</option>
                                    <option value="90">90</option>
                                    <option value="120">120</option>
                                    <option value="150">150</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                <select name="paymentTermType" ng-model="entity.payment_term_type" class="form-control">
                                    <option value=""></option>
                                    <option value="NET">NET</option>
                                    <option value="EOM">EOM</option>
                                </select>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-primary" ng-click="updateCustomer()">{{'customer-directory.save' | translate}}</button>
                            </div>
                        </div>


                    </div>
                </div>

            </form>

            <div class="panel panel-default" ng-hide="entity.type == 'group'">
                <div class="panel-heading">
                    {{'customer-directory.persons' | translate}}
                </div>
                <div class="panel-body">

                    <flash-message
                            duration="5000"
                            show-close="true"
                    ></flash-message>

                    <button class="btn btn-primary" ng-if="!deactivatedPersonsViewed" ng-click="showDeactivatedPersons()">{{'customer-directory.display-deactivated-persons' | translate}}</button>
                    <button class="btn btn-primary" ng-if="deactivatedPersonsViewed" ng-click="hideDeactivatedPersons()">{{'customer-directory.hide-deactivated-persons' | translate}}</button>

                    <button class="btn btn-primary" ng-click="sendMailToSelectedPerson($event)">{{'customer-directory.send-mail-to-selected-person' | translate}}</button>

                    <button class="btn btn-primary" ng-click="changeCustomerForSelectedPerson($event)">{{'customer-directory.change-customer-for-selected-person' | translate}}</button>

                    <button class="btn btn-primary" ng-click="addCustomerForDirectory($event)">{{'customer-directory.add-person' | translate}}</button>

                    <br/><br/>

                    <div ui-grid="entityPersonsGridOptions" class="customer-directory-persons-grid" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-selection></div>


                </div>
            </div>
        </div>


    </div>
</div>