<div class="container-fluid" ng-if="isSuperUser()">
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'db-user.database-user-management' | translate}}
                </div>
                <div class="panel-body">

                    <button class="btn btn-primary" ng-click="addDBUser($event)">{{'db-user.add-db-user' | translate}}</button>

                    <button class="btn btn-primary" ng-click="editSelectedDBUser($event)">{{'db-user.edit-selected-db-user' | translate}}</button>

                    <button class="btn btn-primary" ng-click="deleteSelectedDBUser($event)">{{'db-user.delete-selected-db-user' | translate}}</button>

                    <br/><br/>

                    <div ui-grid="usersGridOptions" class="db-users-grid" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-selection ></div>

                </div>
            </div>

        </div>
    </div>

    <!--<div class="row">-->

        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-heading">-->
                    <!--{{'admin.change-user-data' | translate}}-->
                <!--</div>-->
                <!--<div class="panel-body">-->

                    <!--<button class="btn btn-primary" ng-click="editSelectedUser($event)">{{'db-user.edit-selected-db-user' | translate}}</button>-->

                    <!--<br/><br/>-->

                    <!--<div ui-grid="allUsersGridOptions" class="db-users-grid" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-selection ></div>-->

                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
</div>
