<div class="container-fluid">
    <div class="row">
        <!-- Exch Rate Mgr tab -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'exch-rate.currency-default-currency' | translate}}
                </div>
                <div class="panel-body">
                    <form name="defaultCurrencyForm" ng-submit="saveDefaultCurrency()">
                        <div class="row form-row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <label class="form-label" for="defaultCurrency">{{'exch-rate.default-currency' | translate}}</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <md-autocomplete
                                        id="defaultCurrency"
                                        md-no-cache="true"
                                        md-selected-item="defaultCurrency"
                                        md-search-text="defaultCurrencySearchText"
                                        md-search-text-change="defaultCurrencySearchTextChange(defaultCurrencySearchText)"
                                        md-selected-item-change="changeDefaultCurrency()"
                                        md-items="c in currencies"
                                        md-item-text="c.short_name"
                                        md-min-length="0"
                                        placeholder="{{'exch-rate.select-default-currency' | translate}}"
                                >
                                    <md-item-template>
                                        <span md-highlight-text="defaultCurrencySearchText" md-highlight-flags="^i">{{c.short_name}}</span>
                                    </md-item-template>
                                </md-autocomplete>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'exch-rate.header' | translate}}
                </div>
                <div class="panel-body">

                    <div class="row form-row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <button class="btn btn-primary" ng-click="addCurrency($event)">{{'exch-rate.add-currency' | translate}}</button>
                        </div>
                    </div>

                    <form name="exchRateMgt" ng-submit="saveCurrencies()">

                        <div class="row form-row" >
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <label class="form-label">{{'exch-rate.currency-name' | translate}}</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <label class="form-label">{{'exch-rate.exch-rate' | translate:{default : defaultCurrency} }}</label>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <label class="form-label">{{'exch-rate.last-modified-by' | translate}}</label>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <label class="form-label">{{'exch-rate.last-modified-date' | translate}}</label>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <label class="form-label">{{'exch-rate.delete' | translate}}</label>
                            </div>
                        </div>

                        <div class="row form-row" ng-repeat="currency in currenciesAll">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <label class="form-label" for="{{currency.short_name}}">{{currency.long_name}}</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <input type="text" name="{{currency.short_name}}" id="{{currency.short_name}}" ng-model="currency.exch_rate" ng-blur="changeLastModifiedBy(currency.id)" class="form-control form-input">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <label class="form-label">{{currency.last_modified_by}}</label>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <label class="form-label">{{currency.last_modified_date}}</label>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <button class="btn btn-danger btn-sm" ng-click="$event.preventDefault()" ng-confirm-click="{{'exch-rate.really-delete-currency' | translate}}" confirmed-click="deleteCurrency(currency.id)"><i class="fa fa-remove"></i></button>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-primary" type="submit" >{{'exch-rate.save' | translate }}</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>


        </div>

    </div>
</div>
