<div class="container-fluid">
    <div class="row">
        <!-- Lme Mgt tab -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'lme.header' | translate}}
                </div>
                <div class="panel-body">
                    <form name="lmeMgt" ng-submit="saveLme()">

                        <div class="row form-row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <label class="form-label" for="cu">{{'lme.cu' | translate}}</label>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <div class="input-group">
                                    <input type="text" name="cu" id="cu" ng-model="lme.cu" class="form-control form-input">
                                    <div class="input-group-addon">
                                        {{'lme.euro' | translate}}
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <label class="form-label" for="al">{{'lme.al' | translate}}</label>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <div class="input-group">
                                    <input type="text" name="al" id="al" ng-model="lme.al" class="form-control form-input" >
                                    <div class="input-group-addon">
                                        {{'lme.euro' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-primary" type="submit" >{{'lme.save' | translate }}</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>


        </div>

    </div>
</div>
