<div class="container-fluid">
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'material-mng.material-management' | translate}}
                </div>
                <div class="panel-body">

                    <button class="btn btn-primary" ng-click="addMaterial($event)">{{'material-mng.add-material' | translate}}</button>

                    <button class="btn btn-primary" ng-click="deleteSelected()">{{'material-mng.delete-selected' | translate}}</button>

                    <br/><br/>

                    <div ui-grid="materialsGridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-selection class="material-grid"></div>

                </div>
            </div>

        </div>
    </div>
</div>
