<div class="panel panel-default">
        <div class="panel-heading">
            <div class="row form-row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {{'data-sheet.new-sale' | translate}}
                </div>
            </div>
        </div>
        <div class="panel-body">
            <form name="formGenerateSale">
                <div class="row form-row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <label class="form-label" for="salesOffice">{{'data-sheet.sales-office' | translate}}</label>
                    </div>
                    <div  class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <select name="salesOffice" id="salesOffice" class="form-control form-input" ng-change="saleOfficeChange(generateSale.sale_office,generateSale)"
                                    ng-options="office.name for office in salesOffices track by office.id"  ng-model="generateSale.sale_office" >
                            </select>
                    </div>
                </div>
                <div class="row form-row">
                   <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <label class="form-label" for="lclFcl">{{'data-sheet.lcl-fcl' | translate}}</label>
                    </div>
                    <div  class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <select name="lclFcl" id="lclFcl" class="form-control form-input"
                                ng-options="lcl_fcl for lcl_fcl in lclFcl" ng-model="generateSale.fcl_lcl"
                                ng-change="lclFclchange()">
                        </select>
                    </div>
                </div>

                <div class="row form-row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="form-label" for="company">{{'data-sheet.customer' | translate}}</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <md-autocomplete
                                id="company"
                                md-no-cache="true"
                                md-selected-item="generateSale.customer"
                                md-search-text="customerSearchText"
                                md-search-text-change="customerSearchTextChange(customerSearchText)"
                                md-selected-item-change="customerSelectedItemChange(c)"
                                md-items="c in customers"
                                md-item-text="c.name"
                                md-min-length="0"
                                placeholder="{{'search.select-customer' | translate}}"
                        >
                            <md-item-template>
                                <span md-highlight-text="customerSearchText" md-highlight-flags="^i">{{c.name}}</span>
                            </md-item-template>
                        </md-autocomplete>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <input type="text" name="group" id="group" ng-model="projects.customerPath" class="form-control form-input">
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <label class="form-label" >{{'data-sheet.payment-term' | translate}}</label>
                    </div>
                    <div  class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <select name="paymentTerm" id="paymentTermNr"  class="form-control form-input"
                                ng-options="termNr for termNr in paymentTermNr" ng-model="generateSale.customer_payment_term_nr">
                        </select>
                    </div>
                    <div  class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <select name="paymentTerm" id="paymentTermType"class="form-control form-input"
                                ng-options="termType for termType in paymentTermType"  ng-model="generateSale.customer_payment_term_type" >
                        </select>
                    </div>
                </div>

                <div class="row form-row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="form-label" for="projectPurchaser">{{'data-sheet.purchase-manager' | translate}}</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <md-autocomplete
                                id="projectPurchaser"
                                md-no-cache="true"
                                md-selected-item="generateSale.purchase_manager"
                                md-search-text="purchaserSearchText"
                                md-search-text-change="purchaserSearchTextChange(purchaserSearchText)"
                                md-selected-item-change="purchaserSelectedItemChange(p)"
                                md-items="p in purchasers"
                                md-item-text="p.name"
                                md-min-length="0"
                                ng-disabled="!customerSelected"
                                placeholder="{{'search.select-purchaser' | translate}}"
                        >
                            <md-item-template>
                                <span md-highlight-text="purchaserSearchText" md-highlight-flags="^i">{{p.name}}</span>
                            </md-item-template>
                        </md-autocomplete>
                    </div>
                    <div  class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="input-group">
                            <input type="text" name="purchaseMangerPhone" id="purchaseMangerPhone"
                                   ng-model="generateSale.purchase_manager.phone" class="form-control form-input" disabled>
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </div>
                        </div>
                    </div>
                    <div  class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="input-group">
                            <input type="text" name="purchaseMangerMobile" id="purchaseMangerMobile"
                                   ng-model="generateSale.purchase_manager.mobile" class="form-control form-input" disabled>
                            <div class="input-group-addon">
                                <i class="fa fa-mobile"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <label class="form-label" >{{'data-sheet.sales-manager' | translate}}</label>
                    </div>
                    <div  class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <md-autocomplete
                                id="salesManager"
                                md-no-cache="true"
                                md-selected-item="generateSale.sale_manager"
                                md-search-text="salesManagerText"
                                md-search-text-change="salesManagerTextChange(salesManagerText)"
                                md-selected-item-change="salesManagerSelectedItemChange(s)"
                                md-items="s in projectManagers"
                                md-item-text="s.name"
                                md-min-length="0"
                                ng-disabled="!customerSelected"
                                placeholder="{{'data-sheet.select-sales-manager' | translate}}"
                        >
                            <md-item-template>
                                <span md-highlight-text="salesManagerText" md-highlight-flags="^i">{{s.name}}</span>
                            </md-item-template>
                        </md-autocomplete>
                    </div>
                    <div  class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="input-group">
                            <input type="text" name="salesMangerPhone" id="salesMangerPhone"
                                   ng-model="generateSale.sales_manager.phone" class="form-control form-input" disabled>
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </div>
                        </div>
                    </div>
                    <div  class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="input-group">
                            <input type="text" name="salesMangerMobile" id="salesMangerMobile"
                                   ng-model="generateSale.sales_manager.mobile" class="form-control form-input" disabled>
                            <div class="input-group-addon">
                                <i class="fa fa-mobile"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-row">
                    <div  class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="row form-row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="palletQty">{{'data-sheet.pallet-qty' | translate}}</label>
                            </div>
                            <div  class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <input  type="text" name="palletQty" id="palletQty" placeholder="{{generateSale.pallet_qty}}"
                                        ng-model="generateSale.pallet_qty" class="form-control form-input"
                                        ng-change="palletQtyChange()">
                            </div>
                        </div>
                    </div>
                    <div  class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="row form-row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label class="form-label" for="saleCurrency">{{'data-sheet.currency' | translate}}</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <select name="saleCurrency" id="saleCurrency"class="form-control form-input"
                                        ng-options="currency.short_name for currency in currenciesAll track by currency.id"
                                        ng-model="generateSale.currency"  ng-change="changeNewSaleCurrency()">

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <label class="form-label" for="incoterms">
                            {{'data-sheet.incoterms' | translate}}</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <select name="incoterms" id="incoterms" class="form-control form-input"
                                ng-options="incoterm for incoterm in incotermsFormated" ng-model="generateSale.sample_incoterms_id"
                                ng-change="saleIncotermChange()">
                        </select>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="form-label">{{'data-sheet.validity' | translate}}</label>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-checkboxes">
                        <label class="checkbox-inline checkbox-inline-label"><input type="radio" ng-value="1" ng-checked="generateSale.valid === 1" ng-model="generateSale.valid">&nbsp;{{'data-sheet.valid' | translate}}</label>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-checkboxes">
                        <label class="checkbox-inline checkbox-inline-label"><input type="radio" ng-value="2" ng-checked="generateSale.valid === 2"  ng-model="generateSale.valid">&nbsp;{{'data-sheet.not-valid' | translate}}</label>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="form-label">{{'data-sheet.lme.cu' | translate }}</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="form-label">{{'data-sheet.lme.al' | translate }}</label>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="form-label">{{'data-sheet.lme.current-value' | translate}}</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="input-group">
                            <input type="text" name="cu" id="currentCu" ng-model="lmeCu" class="form-control form-input" disabled>
                            <div class="input-group-addon">
                                {{generateSale.currency_symbol }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="input-group">
                            <input type="text" name="al" id="currentAl" ng-model="lmeAl" class="form-control form-input" disabled>
                            <div class="input-group-addon">
                                {{generateSale.currency_symbol }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="form-label">{{'data-sheet.lme.at-creation' | translate}}</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="input-group">
                            <input type="text" name="cu" id="creationCu" ng-model="lmeCu" class="form-control form-input" disabled>
                            <div class="input-group-addon">
                                {{generateSale.currency_symbol }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="input-group">
                            <input type="number" name="al" id="creationAl" ng-model="lmeAl" class="form-control form-input" disabled>
                            <div class="input-group-addon">
                                {{generateSale.currency_symbol }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="form-label">{{'data-sheet.lme.lme' | translate}}</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="input-group">
                            <input type="number" name="lmeCu" id="lmeCu" ng-model="generateSale.lme_cu" class="form-control form-input"
                            placeholder="{{lmeCu}}">
                            <div class="input-group-addon">
                                {{generateSale.currency_symbol }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="input-group">
                            <input type="text" name="lmeAl" id="lmeAl" ng-model="generateSale.lme_al" class="form-control form-input"
                                   placeholder="{{lmeAl}}">
                            <div class="input-group-addon">
                                {{generateSale.currency_symbol }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button class="btn btn-primary" ng-click="viewHideDetails()" >{{'data-sheet.view-hide-details' | translate }}</button>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-lg-12 col-md-12 col-sm-3 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row form-row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        {{'data-sheet.costs' | translate}}
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        {{'data-sheet.teu-price-ddp' | translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row form-row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <label class="form-label">{{'data-sheet.engineering' | translate}}</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <label class="form-label">{{'data-sheet.factory' | translate}}</label>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="form-label">{{'data-sheet.current-npi-costs' | translate}}</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                            <input type="text" name="npiCostsEngin" id="npiCostsEngin" ng-model="generateSale.buy_price_engineering" class="form-control form-input"
                                                   disabled>
                                            <div class="input-group-addon">
                                                {{generateSale.currency_symbol }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                        <input type="text" name="npiCostsFact" id="npiCostsFact" ng-model="generateSale.buy_price_factory" class="form-control form-input"
                                               disabled>
                                        <div class="input-group-addon">
                                            {{generateSale.currency_symbol }}
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="form-label">{{'data-sheet.sales-costs' | translate}}</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                            <input type="text" name="npiSalesCostsEngin" id="npiSalesCostsEngin" ng-model="generateSale.buy_price_engineering" class="form-control form-input"
                                                   disabled>
                                            <div class="input-group-addon">
                                                {{generateSale.currency_symbol }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                            <input type="text" name="npiSalesCostsFact" id="npiSalesCostsFact" ng-model="generateSale.buy_price_factory" class="form-control form-input"
                                                   disabled>
                                            <div class="input-group-addon">
                                                {{generateSale.currency_symbol }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="form-label">{{'data-sheet.buying-price-cif' | translate}}</label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                            <input type="text" name="npiTotalCosts" id="npiTotalCosts" ng-model="generateSale.buy_price" class="form-control form-input"
                                                   disabled>
                                            <div class="input-group-addon">
                                                {{generateSale.currency_symbol }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label class="form-label underline">{{'data-sheet.oversea-freight-costs' | translate}}</label>
                                    </div>
                                </div>
                                <div ng-if="viewedDetails">
                                    <div class="row form-row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="form-label">{{'data-sheet.fob-charges' | translate}}</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="fobCharges" id="fobCharges" ng-model="generateSale.tamura_entity_fob_charge" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    {{generateSale.currency_symbol }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="fobChargesValue" id="fobChargesValue" ng-model="generateSale.tamura_entity_fob_charge_value" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    {{generateSale.currency_symbol }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="form-label">{{'data-sheet.seafreight' | translate}}</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="fobCharges" id="seafreight" ng-model="generateSale.tamura_entity_freight" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    {{generateSale.currency_symbol }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="fobChargesValue" id="seafreighValue" ng-model="generateSale.tamura_entity_freight_value" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    {{generateSale.currency_symbol }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                            <label class="form-label">{{'data-sheet.cif-cost' | translate}}</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="cifCost" id="cifCost" ng-model="generateSale.cif_cost" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    {{generateSale.currency_symbol }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <label class="form-label underline">{{'data-sheet.inland-charges' | translate}}</label>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="form-label">{{'data-sheet.terminal-handling' | translate}}</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="terminalHandling" id="terminalHandling" ng-model="generateSale.tamura_entity_terminal_handling" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    {{generateSale.currency_symbol }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="terminalHandlingValue" id="terminalHandlingValue"
                                                       ng-model="generateSale.tamura_entity_terminal_handling_value" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    {{generateSale.currency_symbol }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="form-label">{{'data-sheet.delivery-order' | translate}}</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="deliveryOrder" id="deliveryOrder" ng-model="generateSale.tamura_entity_delivery_order" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    {{generateSale.currency_symbol }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="deliveryOrderValue" id="deliveryOrderValue"
                                                       ng-model="generateSale.tamura_entity_delivery_order_value" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    {{generateSale.currency_symbol }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="form-label">{{'data-sheet.customs-clearance' | translate}}</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="customsClearance" id="customsClearance"
                                                       ng-model="generateSale.tamura_entity_customs_clearance" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    {{generateSale.currency_symbol }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="customsClearanceValue" id="customsClearanceValue"
                                                       ng-model="generateSale.tamura_entity_customs_clearance_value" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    {{generateSale.currency_symbol }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="form-label">{{'data-sheet.advance-fees' | translate}}</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="advanceFees" id="advanceFees"
                                                       ng-model="generateSale.advance_fees" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    %
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="advanceFeesValue" id="advanceFeesValue"
                                                       ng-model="generateSale.advance_fees_value" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    {{generateSale.currency_symbol }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="form-label">{{'data-sheet.lfr' | translate}}</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="lfr" id="lfr"
                                                       ng-model="generateSale.lfr" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    £
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="lfrValue" id="lfrValue"
                                                       ng-model="generateSale.lfr_value" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    {{generateSale.currency_symbol }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="form-label">{{'data-sheet.haulage-to-warehouse' | translate}}</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="haulageToWarehouse" id="haulageToWarehouse"
                                                       ng-model="generateSale.tamura_entity_haulage_to_warehouse" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    %
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="haulageToWarehouseValue" id="haulageToWarehouseValue"
                                                       ng-model="generateSale.tamura_entity_haulage_to_warehouse_value" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    {{generateSale.currency_symbol }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                            <label class="form-label">{{'data-sheet.total-inland-charges' | translate}}</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="totalInlandCharges" id="totalInlandCharges"
                                                       ng-model="generateSale.total_inland_charges_value" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    {{generateSale.currency_symbol }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <label class="form-label underline">{{'data-sheet.hub-costs' | translate}}</label>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="form-label">{{'data-sheet.unloading' | translate}}</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="unloading" id="unloading"
                                                       ng-model="generateSale.unloading" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    £
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="unloadingValue" id="unloadingValue"
                                                       ng-model="generateSale.unloading_value" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    {{generateSale.currency_symbol }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="form-label">{{'data-sheet.order-picking' | translate}}</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="orderPicking" id="orderPicking"
                                                       ng-model="generateSale.order_picking" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    £
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="orderPickingValue" id="orderPickingValue"
                                                       ng-model="generateSale.order_picking_value" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    {{generateSale.currency_symbol }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="form-label">{{'data-sheet.storage-per-pallet' | translate}}</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="storagePerPallet" id="storagePerPallet"
                                                       ng-model="generateSale.storage" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    £
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="storagePerPalletValue" id="storagePerPalletValue"
                                                       ng-model="generateSale.storage_value" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    {{generateSale.currency_symbol }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label class="form-label">{{'data-sheet.admin' | translate}}</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="admin" id="admin"
                                                       ng-model="generateSale.admin" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    £
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="adminValue" id="adminValue"
                                                       ng-model="generateSale.admin_value" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    {{generateSale.currency_symbol }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                            <label class="form-label">{{'data-sheet.total-hub-costs' | translate}}</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" name="totalHubCosts" id="totalHubCosts"
                                                       ng-model="generateSale.total_hub_costs" class="form-control form-input"
                                                       disabled>
                                                <div class="input-group-addon">
                                                    {{generateSale.currency_symbol }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="form-label">{{'data-sheet.total-oversea-freight-costs' | translate}}</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                            <input type="text" name="overseaFreightCosts" id="overseaFreightCosts" ng-model="generateSale.total_oversea_costs"
                                                   class="form-control form-input" ng-blur="computeTotalOverseaFreightCosts()">
                                            <div class="input-group-addon">
                                                %
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                            <input type="text" name="overseaFreightCostsValue" id="overseaFreightCostsValue" ng-model="generateSale.total_oversea_costs_value"
                                                   class="form-control form-input" ng-blur="computeTotalOverseaFreightCostsValue()">
                                            <div class="input-group-addon">
                                                {{generateSale.currency_symbol }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="form-label">{{'data-sheet.total-updated-manually' | translate}}</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <input type="checkbox" name="totalUpdated" id="totalUpdated" ng-model="generateSale.total_oversea_cost_flag" >
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <button class="btn btn-primary" id="totalUpdatedButton" ng-click="totalUpdateCompute()" >{{'data-sheet.compute' | translate }}</button>
                                    </div>
                                </div>
                                <!-- 7 ITEMS-->
                                <div class="row form-row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="form-label">{{'data-sheet.import-duty' | translate}}</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                            <input ng-disabled="!incotermDisableDPP" type="text" name="importDuty" id="importDuty" ng-model="generateSale.import_duty"
                                                   class="form-control form-input" ng-blur="computeImportDuty()">
                                            <div class="input-group-addon">
                                                %
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                            <input type="text" name="importDutyValue" id="importDutyValue" ng-model="generateSale.import_duty_value"
                                                   class="form-control form-input" disabled>
                                            <div class="input-group-addon">
                                                {{generateSale.currency_symbol }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="form-label">{{'data-sheet.delivery-to-customer' | translate}}</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                            <input ng-disabled="!incotermDisable" type="text" name="deliveryToCustomer" id="deliveryToCustomer" ng-model="generateSale.delivery_to_customer"
                                                   class="form-control form-input" ng-blur="updateDeliveryCustomer()">
                                            <div class="input-group-addon">
                                                {{generateSale.currency_symbol }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                            <input type="text" name="deliveryToCustomerValue" id="deliveryToCustomerValue"
                                                   ng-model="generateSale.delivery_to_customer_value" class="form-control form-input" disabled>
                                            <div class="input-group-addon" >
                                                {{generateSale.currency_symbol }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="form-label">{{'data-sheet.cost-price' | translate}}</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                            <input type="text" name="costPrice" id="costPrice" ng-model="generateSale.cost_price_percentage"
                                                   class="form-control form-input" disabled>
                                            <div class="input-group-addon">
                                                %
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                            <input type="text" name="costPriceValue" id="costPriceValue" ng-model="generateSale.cost_price"
                                                   class="form-control form-input" disabled>
                                            <div class="input-group-addon">
                                                {{generateSale.currency_symbol }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="form-label">{{'data-sheet.general-and-administration' | translate}}</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                            <input type="text" name="generalAdministration" id="generalAdministration" ng-model="generateSale.gand_a"
                                                   class="form-control form-input" ng-blur="computeGandADuty()">
                                            <div class="input-group-addon">
                                                %
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                            <input type="text" name="generalAdministrationValue" id="generalAdministrationValue"
                                                   ng-model="generateSale.gand_a_value" class="form-control form-input" disabled>
                                            <div class="input-group-addon">
                                                {{generateSale.currency_symbol }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="form-label">{{'data-sheet.total-cost' | translate}}</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                            <input type="text" name="totalCost" id="totalCost" ng-model="generateSale.total_cost_percentage"
                                                   class="form-control form-input" disabled>
                                            <div class="input-group-addon">
                                                %
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                            <input type="text" name="totalCostValue" id="totalCostValue" ng-model="generateSale.total_cost"
                                                   class="form-control form-input" disabled>
                                            <div class="input-group-addon">
                                                {{generateSale.currency_symbol }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="form-label">{{'data-sheet.profit' | translate}}</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                            <input type="text" name="profit" id="profit" ng-model="generateSale.profit"
                                                   class="form-control form-input"  ng-change="computeSaleProfit()">
                                            <div class="input-group-addon">
                                                %
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                            <input type="text" name="profitValue" id="profitValue" ng-model="generateSale.profit_value"
                                                   class="form-control form-input" disabled>
                                            <div class="input-group-addon">
                                                {{generateSale.currency_symbol }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="form-label">{{'data-sheet.selling-price' | translate}}</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                            <input type="text" name="sellingPrice" id="sellingPrice" ng-model="generateSale.selling_price"
                                                   class="form-control form-input" ng-blur="computeSaleSallingPrice()">
                                            <div class="input-group-addon">
                                                {{generateSale.currency_symbol }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END OF 7 ITEMS-->

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-row">
                    <div  class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <label class="form-label">{{'data-sheet.selling-price' | translate}}</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                         <textarea class="form-control" name="commentSale" id="commentSale"  rows="5" cols="30" ng-model="generateSale.comment">
                         </textarea>
                    </div>
                </div>
                <div class="row form-row">
                    <div  class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <label class="form-label">{{'data-sheet.special-requirements' | translate}}</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                         <textarea class="form-control" name="specialReq" id="specialReq"  rows="5" cols="30" ng-model="generateSale.special_req">
                         </textarea>
                    </div>
                </div>

                <div class="row form-row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="form-label" for="creationDate">{{'data-sheet.creation-date' | translate}}</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <input type="text" name="creationDate" id="creationDate" ng-model="generateSale.creation_date" class="form-control form-input" disabled>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="form-label" for="updatedDate">{{'data-sheet.last-updated-date' | translate}}</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <input type="text" name="updatedDate" id="updatedDate" ng-model="generateSale.last_update_date" class="form-control form-input" disabled>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="form-label" for="createdBy">{{'data-sheet.created-by' | translate}}</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <input type="text" name="createdBy" id="createdBy" ng-model="generateSale.created_by" class="form-control form-input" disabled>
                    </div>
                </div>

                <div class="row form-row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button class="btn btn-primary" type="button"  ng-click="updateSale()" >{{'data-sheet.save-new-sale' | translate }}</button>
                    </div>
                </div>
            </form>

            <br>

            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'data-sheet.export' | translate}}
                </div>
                <div class="panel-body">
                    <div class="row form-row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <button type="button" class="btn btn-success btn-full-width"  ng-csv="saleExport" filename="TCH_S - {{generateSale.sale_office.name}}.csv"
                                    csv-column-order="saleExportHeader" csv-header="saleExportHeader" >{{'data-sheet.export-sale' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>