<div class="panel panel-default">
    <div class="panel-heading">
        {{'data-sheet.data-tree' | translate}}
    </div>
    <div class="panel-body">                    

        <div class="row form-row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button class="btn btn-primary" ng-click="prepareNewProject()">{{'data-sheet.add-project' | translate}}</button>
                <button class="btn btn-primary" ng-confirm-click="{{'data-sheet.add-rfq-without-project-question' | translate}}" confirmed-click="prepareNewRfqWithoutProject()">{{'data-sheet.add-rfq-without-project' | translate}}</button>
                <button type="button" class="btn btn-success"  ng-if="isSuperUser()"  ng-csv="allProjectsExport" filename="{{'data-sheet.all-projects' | translate}}.csv"
                        csv-column-order="projectExportHeader" csv-header="projectExportHeader" >{{'data-sheet.export-all-project' | translate}}</button>
                <button type="button" class="btn btn-success"  ng-if="isSuperUser()"  ng-csv="allRFQsExport" filename="{{'data-sheet.all-rfqs' | translate}}.csv"
                        csv-column-order="rfqExportHeader" csv-header="rfqExportHeader" >{{'data-sheet.export-all-rfqs' | translate}}</button>
                <button type="button" class="btn btn-success"  ng-if="isSuperUser()"  ng-csv="allNPIsExport" filename="{{'data-sheet.all-npis' | translate}}.csv"
                        csv-column-order="npiExportHeader" csv-header="npiExportHeader">{{'data-sheet.export-all-npis' | translate}}</button>
                <button type="button" class="btn btn-success"  ng-if="isSuperUser()"  ng-csv="allSalesExport" filename="{{'data-sheet.all-sales' | translate}}.csv"
                        csv-column-order="saleExportHeader" csv-header="saleExportHeader" >{{'data-sheet.export-all-sales' | translate}}</button>
        </div>
        </div>

        <div ui-tree data-nodrop-enabled="true" data-drag-enabled="false">
            <ol ui-tree-nodes="" ng-model="$parent.projects">
                <li ng-repeat="project in $parent.projects" ui-tree-node>
                    <div ui-tree-handle class="tree-node tree-node-content project">                         
                        <a class="btn btn-success btn-xs tree-node-collapse-btn" ng-class="{'uncollapsed': !collapsed}"ng-if="project.rfqs && project.rfqs.length > 0" data-nodrag="true" ng-click="toggle(this)">
                            <span class="glyphicon glyphicon-chevron-down" ng-class="{
                            'glyphicon-chevron-right': collapsed,
                            'glyphicon-chevron-down': !collapsed,
                            'uncollapsed': !collapsed
                            }"></span>
                        </a>
                        <span class="tree-node-title" ng-click="$parent.viewProject(project)">
                            [{{project.id}}][{{project.status}}] {{project.name}}
                        </span>
                    </div>
                    <ol ui-tree-nodes="" ng-model="project.rfqs" ng-class="{hidden : collapsed}">
                        <li ng-repeat="rfq in project.rfqs" ui-tree-node>
                            <div ui-tree-handle class="tree-node tree-node-content rfq">
                                <a class="btn btn-success btn-xs tree-node-collapse-btn" ng-class="{'uncollapsed': !collapsed}" ng-if="rfq.npis && rfq.npis.length > 0" data-nodrag="true" ng-click="toggle(this)">
                                    <span class="glyphicon glyphicon-chevron-down" ng-class="{
                                    'glyphicon-chevron-right': collapsed,
                                    'glyphicon-chevron-down': !collapsed
                                    }"></span>
                                </a> 
                                <span class="tree-node-title" ng-click="$parent.viewRfq(rfq)" >
                                    [{{rfq.id}}][{{rfq.status}}] {{rfq.pn_customer}}
                                </span>
                            </div>
                            <ol ui-tree-nodes="" ng-model="rfq.npis" ng-class="{hidden : collapsed}">
                                <li ng-repeat="npi in rfq.npis" ui-tree-node>
                                    <div ui-tree-handle class="tree-node tree-node-content npi">
                                        <a class="btn btn-success btn-xs tree-node-collapse-btn" ng-class="{'uncollapsed': !collapsed}" ng-if="npi.sales && npi.sales.length > 0" data-nodrag="true" ng-click="toggle(this)">
                                            <span class="glyphicon glyphicon-chevron-down" ng-class="{
                                            'glyphicon-chevron-right': collapsed,
                                            'glyphicon-chevron-down': !collapsed
                                            }"></span>
                                        </a>
                                        <span class="tree-node-title" ng-click="$parent.viewNpi(npi)">
                                            [{{npi.id}}] TEU - {{npi.sample_teu_pn}}
                                        </span>
                                    </div>
                                    <ol ui-tree-nodes="" ng-model="npi.sales" ng-class="{hidden : collapsed}">
                                        <li ng-repeat="sale in npi.sales" ui-tree-node>
                                            <div ui-tree-handle class="tree-node tree-node-content sale">
                                                 <span class="tree-node-title" ng-click="$parent.viewSale(sale)">
                                                    [{{sale.id}}] {{sale.sale_office.short_name}} - {{sale.sale_office.name}}
                                                </span>
                                            </div>
                                        </li>
                                    </ol>
                                </li>
                            </ol>    
                        </li>
                    </ol>  
                </li>
            </ol>
        </div>

    </div>
</div>  