<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row form-row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    {{'data-sheet.npi-tamura-header' | translate}}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <label class="form-label" for="teuPN">
                    {{'data-sheet.tamura-part-number' | translate}}
                </label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <input name="teuPN" id="teuPN" ng-model="npi.sample_teu_pn" class="form-control form-input"
                       ng-change="changeSampleTeuPn(npi)">
            </div>
        </div>
    </div>
    <div class="panel-body">

        <div class="row form-row">
            <div  class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="row form-row">
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                        <label class="form-label" for="npiCurrency">{{'data-sheet.currency' | translate}}</label>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                        <select name="npiCurrency" id="npiCurrency" ng-model="npi.currency_id " class="form-control form-input"
                                ng-options="currency for currency in currenciesShortNames"  ng-change="changeCurrency(npi.currency_id )">
                        </select>
                    </div>
                </div>
            </div>
            <div  class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="row form-row">
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                        <label class="form-label" for="currency-rfq-material">{{'data-sheet.currency-rfq-material' | translate}}</label>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                        <div class="input-group">
                            <input type="text" name="currency-rfq-material" id="currency-rfq-material"
                               ng-model="materialCost" class="form-control form-input" disabled>
                            <div class="input-group-addon">
                                {{npi.currency_symbol }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{'data-sheet.engineering-cost' | translate}}
                    </div>
                    <div class="panel-body">
                        <div class="row form-row">
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <label class="form-label" for="material">
                                    {{'data-sheet.material' | translate}}</label>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <input type="text" name="material" id="material"
                                       ng-model="npi.rfq_material_cost_value" class="form-control form-input" disabled>
                                    <div class="input-group-addon">
                                        {{npi.currency_symbol }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <label class="form-label">
                                    {{'data-sheet.labour' | translate}}</label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding-0px">
                                <div class="input-group">
                                    <input type="text" name="labour1" id="labour1"
                                           ng-model="npi.rfq_labour" class="form-control form-input" disabled>
                                    <div class="input-group-addon">
                                        {{npi.currency_symbol }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 padding-0px">
                                <input type="text" name="labour-time" id="labour-time"
                                           ng-model="npi.rfq_labour_time" class="form-control form-input" disabled>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding-0px padding-right-15px">
                                <div class="input-group">
                                    <input type="text" name="labour-value" id="labour-value"
                                           ng-model="npi.rfq_labour_value" class="form-control form-input" disabled>
                                    <div class="input-group-addon">
                                        {{npi.currency_symbol }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label class="form-label">
                                    {{'data-sheet.admin' | translate}}</label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <input type="text" name="admin" id="admin"
                                           ng-model="npi.rfq_admin" class="form-control form-input" disabled>
                                    <div class="input-group-addon">
                                        %
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <input type="text" name="admin-value" id="admin-value"
                                           ng-model="npi.rfq_admin_value" class="form-control form-input" disabled>
                                    <div class="input-group-addon">
                                        {{npi.currency_symbol }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label class="form-label">
                                    {{'data-sheet.freight' | translate}}</label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <input type="text" name="freight" id="freight"
                                           ng-model="npi.rfq_freight" class="form-control form-input" disabled>
                                    <div class="input-group-addon">
                                        %
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <input type="text" name="freight-value" id="freight-value"
                                           ng-model="npi.rfq_freight_value" class="form-control form-input" disabled>
                                    <div class="input-group-addon">
                                        {{npi.currency_symbol }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label class="form-label">
                                    {{'data-sheet.profit' | translate}}</label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <input type="text" name="profit" id="profit"
                                           ng-model="npi.rfq_profit_factory" class="form-control form-input" disabled>
                                    <div class="input-group-addon">
                                        %
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <input type="text" name="profit-value" id="profit-value"
                                           ng-model="npi.rfq_profit_value_factory" class="form-control form-input" disabled>
                                    <div class="input-group-addon">
                                        {{npi.currency_symbol }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="factorySP">
                                    {{'data-sheet.factory-s-p' | translate}}</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <input type="text" name="factorySP" id="factorySP"
                                           ng-model="npi.rfq_selling_price_factory" class="form-control form-input" disabled>
                                    <div class="input-group-addon">
                                        {{npi.currency_symbol }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label class="form-label">
                                    {{'data-sheet.profit' | translate}}</label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <input type="text" name="profit2" id="profit2"
                                           ng-model="npi.rfq_profit_sales_office" class="form-control form-input" disabled>
                                    <div class="input-group-addon">
                                        %
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <input name="profit-value2" id="profit-value2"
                                           ng-model="npi.rfq_profit_value_sales_office" class="form-control form-input" disabled>
                                    <div class="input-group-addon">
                                        {{npi.currency_symbol }}
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row form-row">
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <label class="form-label" for="salesSP">
                                    {{'data-sheet.sales-s-p' | translate}}</label>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <input type="text" name="salesSP" id="salesSP"
                                           ng-model="npi.rfq_selling_price_sales_office" class="form-control form-input" disabled>
                                    <div class="input-group-addon">
                                        {{npi.currency_symbol }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center">
                <div class="row">
                    <button ng-click="copyEngineeringCostsToMaterial()" class="btn btn-primary btn-invoice-control">&nbsp;&gt;&gt;&nbsp;</button>
                </div>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{'data-sheet.material-cost' | translate}}
                    </div>
                    <div class="panel-body">
                        <div class="row form-row">
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <label class="form-label" for="FCmaterial">
                                    {{'data-sheet.material' | translate}}</label>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <input type="text" name="material" id="FCmaterial"
                                           ng-model="npi.material_cost_value" class="form-control form-input">
                                    <div class="input-group-addon">
                                        {{npi.currency_symbol }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <label class="form-label">
                                    {{'data-sheet.labour' | translate}}</label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding-0px">
                                <div class="input-group">
                                    <input type="text" name="labour1" id="FClabour1"
                                           ng-model="npi.labour" class="form-control form-input" >
                                    <div class="input-group-addon">
                                        {{npi.currency_symbol }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 padding-0px">
                                <input type="number" name="labour-time" id="FClabour-time"
                                       ng-model="npi.labour_time" ng-blur="NPILabourTimeUpdate()" class="form-control form-input" >
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding-0px padding-right-15px">
                                <div class="input-group">
                                    <input type="text" name="labour-value" id="FClabour-value"
                                           ng-model="npi.labour_value" class="form-control form-input" disabled>
                                    <div class="input-group-addon">
                                        {{npi.currency_symbol }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label class="form-label">
                                    {{'data-sheet.admin' | translate}}</label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <input type="text" name="admin" id="FCadmin"
                                           ng-model="npi.admin" ng-blur="NPIAdminUpdate()" class="form-control form-input" >
                                    <div class="input-group-addon">
                                        %
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <input type="text" name="admin-value" id="FCadmin-value"
                                           ng-model="npi.admin_value" class="form-control form-input" disabled>
                                    <div class="input-group-addon">
                                        {{npi.currency_symbol }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label class="form-label">
                                    {{'data-sheet.freight' | translate}}</label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <input type="text" name="freight" ng-blur="NPIFreightUpdate()" id="FCfreight"
                                           ng-model="npi.freight" class="form-control form-input" >
                                    <div class="input-group-addon">
                                        %
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <input type="text" name="freight-value" id="FCfreight-value"
                                           ng-model="npi.freight_value" class="form-control form-input" disabled>
                                    <div class="input-group-addon">
                                        {{npi.currency_symbol }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label class="form-label">
                                    {{'data-sheet.profit' | translate}}</label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <input type="text" name="profit" ng-blur="NPIProfitUpdate()" id="FCprofit"
                                           ng-model="npi.profit_factory" class="form-control form-input" >
                                    <div class="input-group-addon">
                                        %
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <input type="text" name="profit-value" id="FCprofit-value"
                                           ng-model="npi.profit_value_factory" class="form-control form-input" disabled>
                                    <div class="input-group-addon">
                                        {{npi.currency_symbol }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="factorySP">
                                    {{'data-sheet.factory-s-p' | translate}}</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <input type="text" name="factorySP" id="FCfactorySP"
                                           ng-model="npi.selling_price_factory" class="form-control form-input" disabled>
                                    <div class="input-group-addon">
                                        {{npi.currency_symbol }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label class="form-label">
                                    {{'data-sheet.profit' | translate}}</label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <input type="text" name="profit2" id="FCprofit2"
                                           ng-model="npi.profit_sales_office" ng-blur="NPIProfitSellingPriceUpdate()" class="form-control form-input" >
                                    <div class="input-group-addon">
                                        %
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <input name="profit-value2" id="FCprofit-value2"
                                           ng-model="npi.profit_value_sales_office" class="form-control form-input" disabled>
                                    <div class="input-group-addon">
                                        {{npi.currency_symbol }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <label class="form-label" for="salesSP">
                                    {{'data-sheet.sales-s-p' | translate}}</label>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <input type="text" name="salesSP" id="FCsalesSP"
                                           ng-model="npi.selling_price_sales_office" class="form-control form-input" disabled>
                                    <div class="input-group-addon">
                                        {{npi.currency_symbol }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="FCMPQ">
                                    {{'data-sheet.mpq' | translate}}</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                <input type="text" name="MPQ" id="FCMPQ"
                                           ng-model="npi.minimum_package_quantity" class="form-control form-input" >
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="FCMOQ">
                                    {{'data-sheet.moq' | translate}}</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                <input type="text" name="MOQ" id="FCMOQ"
                                       ng-model="npi.minimum_order_quantity" class="form-control form-input" >

                            </div>
                        </div>

                        <div class="row form-row form-row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-primary" type="submit"  ng-click="changeGenerateSale();" >{{'data-sheet.generate-sales' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <form name="generateNpiPdf" ng-submit="createSampleRequestPdf()">
                <div  class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{'data-sheet.sample-request' | translate}}
                        </div>
                        <div class="panel-body">
                            <div class="row form-row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <label class="form-label" for="qualityRequre">
                                        {{'data-sheet.material' | translate}}</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

                                    <input type="text" name="qualityRequre" id="qualityRequre"
                                           ng-model="npi.sample_quantity_required" class="form-control form-input" >
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <label class="form-label" for="deliveryDate">
                                        {{'data-sheet.delivery-date' | translate}}</label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                                    <input type="date" name="deliveryDate" id="deliveryDate"
                                           ng-model="npi.sample_delivery_date" class="form-control form-input" >
                                </div>
                            </div>

                            <div class="row form-row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <label class="form-label" for="chargeable">
                                        {{'data-sheet.chargeable' | translate}}</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 div-checkboxes">

                                    <input type="checkbox" name="chargeable" id="chargeable"  parse-int ng-true-value="1" ng-false-value="0"
                                           ng-model="npi.sample_chargeable" class=" form-input" >
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <label class="form-label" for="samplePrice">
                                        {{'data-sheet.sample-price' | translate}}</label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="input-group">
                                        <input type="text" name="samplePrice" id="samplePrice"
                                               ng-model="npi.sample_price" class="form-control form-input" >
                                        <div class="input-group-addon">
                                            {{npi.currency_symbol }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <label class="form-label" for="incoterms">
                                        {{'data-sheet.incoterms' | translate}}</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                                    <select name="incoterms" id="incoterms" ng-model="npi.sample_incoterms_id " class="form-control form-input"
                                            ng-options="incoterm for incoterm in incotermsFormated" >
                                    </select>
                                </div>
                            </div>

                            <div class="row form-row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <label class="form-label" for="leadTime">
                                        {{'data-sheet.lead-time-weeks' | translate}}</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <input type="text" name="leadTime" id="leadTime"
                                           ng-model="npi.sample_lead_time" class="form-control form-input" >
                                </div>
                            </div>

                            <div class="row form-row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <label class="form-label" for="customerAddress">
                                        {{'data-sheet.customer-address' | translate}}</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <textarea name="customerAddress" id="customerAddress" class="form-control" ng-model="npi.sample_customer_address"
                                              rows="5" cols="40">
                                    </textarea>
                                </div>
                            </div>

                            <div class="row form-row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label class="form-label" >{{'tamura-directory.manufactured' | translate}}</label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 div-checkboxes">
                                    <input type="radio" ng-model="npi.sample_manufactured_purchased" ng-value="1" >
                                    <input type="radio" ng-model="npi.sample_manufactured_purchased" ng-value="2" >
                                </div>
                            </div>

                            <div class="row form-row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <button class="btn btn-primary" ng-click="createSampleRequestPdf()" >
                                        {{'time-sheet-invoice.generate-pdf' | translate }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div  class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{'data-sheet.comment' | translate}}
                    </div>
                    <div class="panel-body">
                        <div class="row padding-5px">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <textarea class="form-control" name="comment" id="comment"  rows="15" cols="30" ng-model="npi.comment" ng-blur="updateComment(npi.comment)">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                {{'data-sheet.log' | translate}}
            </div>
            <div class="panel-body">

                <div class="row form-row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <label class="form-label" for="creationDate">
                            {{'data-sheet.creation-date' | translate}}</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding-0px">
                        <input type="date" name="creationDate" id="creationDate"
                                   ng-model="npi.creation_date" class="form-control form-input" disabled>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <label class="form-label" for="createdBy">
                            {{'data-sheet.created-by' | translate}}</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding-0px">
                        <input type="text" name="createdBy" id="createdBy"
                               ng-model="npi.created_by" class="form-control form-input" disabled>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                {{'data-sheet.export' | translate}}
            </div>
            <div class="panel-body">
                <div class="row form-row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <button type="button" class="btn btn-success btn-full-width"  ng-csv="npiExport" filename="TEU - {{npi.sample_teu_pn}}.csv"
                                csv-column-order="npiExportHeader" csv-header="npiExportHeader" >{{'data-sheet.export-npi' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>