<form name="projectForm" >

    <div class="row ">

        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'data-sheet.project-information' | translate}}
                </div>
                <div class="panel-body">

                    <div class="row form-row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <label class="form-label" for="projectName">{{'data-sheet.name' | translate}}</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <input type="text" name="projectName" id="projectName" ng-model="$parent.project.name" ng-change="checkProjectName()" class="form-control form-input">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <label class="form-label" for="projectName">{{'data-sheet.status' | translate}}</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <button class="btn project-status-button project-button" disabled
                                ng-class="{'btn-info' : $parent.project.status == 'INIT',
                                           'btn-success' : $parent.project.status == 'OPENED',
                                           'btn-danger' : $parent.project.status == 'CLOSED'}">
                                {{$parent.project.status}}
                            </button>
                        </div>
                    </div>

                    <div class="row form-row" ng-if="projectExists == true">
                        <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2 col-xs-12">
                            <span class="label label-danger">{{'data-sheet.project-exists' | translate}}</span>
                        </div>
                    </div>

                    <div class="row form-row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <label class="form-label form-label-required">{{'data-sheet.project-manager' | translate}} </label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <md-autocomplete
                                md-no-cache="true"
                                md-selected-item="$parent.project.manager"
                                md-search-text="$parent.projectManagerSearchText"
                                md-search-text-change="$parent.entitySearchTextChange($parent.projectManagerSearchText, 'projectManagers', 'projectManagersAll', 'name')"
                                md-items="m in $parent.projectManagers"
                                md-item-text="m.name"
                                md-min-length="0"
                                placeholder="{{'data-sheet.select-project-manager' | translate}}"
                                >
                              <md-item-template>
                                <span md-highlight-text="$parent.projectManagerSearchText" md-highlight-flags="^i">{{m.name}}</span>
                              </md-item-template>
                            </md-autocomplete>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                     <i class="fa fa-phone"></i>
                                </div>
                                <input type="text" name="projectManagerPhone" id="projectManagerPhone" ng-model="$parent.project.manager.phone" class="form-control form-input">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

                            <div class="input-group">
                                <div class="input-group-addon">
                                     <i class="fa fa-mobile"></i>
                                </div>
                                <input type="text" name="projectManagerMobile" id="projectManagerMobile" ng-model="$parent.project.manager.mobile" class="form-control form-input">
                            </div>
                        </div>

                    </div>

                    <div class="row form-row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <label class="form-label" for="projectName">{{'data-sheet.description' | translate}}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                            <textarea name="projectDescription" id="projectDescription" ng-model="$parent.project.description" class="form-control form-input data-sheet-textarea"></textarea>
                        </div>

                    </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'data-sheet.customer-information' | translate}}
                </div>
                <div class="panel-body">

                    <div class="row form-row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <label class="form-label form-label-required" for="projectCustomer">{{'data-sheet.customer' | translate}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <md-autocomplete
                                    id="projectCustomer"
                                    md-no-cache="true"
                                    md-selected-item="$parent.project.customer"
                                    md-search-text="$parent.projectCustomerSearchText"
                                    md-search-text-change="$parent.entitySearchTextChange($parent.projectCustomerSearchText, 'customers', 'customersAll', 'name')"
                                    md-selected-item-change="$parent.projectCustomerSelectedItemChange(c)"
                                    md-items="c in customers"
                                    md-item-text="c.name"
                                    md-min-length="0"
                                    placeholder="{{'search.select-customer' | translate}}"
                            >
                                <md-item-template>
                                    <span md-highlight-text="projectCustomerSearchText" md-highlight-flags="^i">{{c.name}}</span>
                                </md-item-template>
                            </md-autocomplete>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <input type="text" name="projectCustomerPath" id="projectCustomerPath" ng-model="$parent.project.customer.path" class="form-control form-input">
                        </div>
                    </div>

                    <div class="row form-row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <label class="form-label" for="projectPurchaser">{{'data-sheet.purchase-manager' | translate}}</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <md-autocomplete
                                    id="projectPurchaser"
                                    md-no-cache="true"
                                    md-selected-item="$parent.project.purchase_manager"
                                    md-search-text="$parent.purchaseManagerSearchText"
                                    md-search-text-change="$parent.entitySearchTextChange($parent.purchaseManagerSearchText, 'purchasers', 'purchasersAll', 'name')"
                                    md-items="p in purchasers"
                                    md-item-text="p.name"
                                    md-min-length="0"
                                    ng-disabled="!$parent.projectCustomerSelected"
                                    placeholder="{{'search.select-purchaser' | translate}}"
                            >
                                <md-item-template>
                                    <span md-highlight-text="purchaserSearchText" md-highlight-flags="^i">{{p.name}}</span>
                                </md-item-template>
                            </md-autocomplete>   </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                     <i class="fa fa-phone"></i>
                                </div>
                                <input ng-disabled="!$parent.projectCustomerSelected" type="text" name="projectPurchaseManagerPhone" id="projectPurchaseManagerPhone" ng-model="$parent.project.purchase_manager.phone" class="form-control form-input">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                     <i class="fa fa-mobile"></i>
                                </div>
                                <input ng-disabled="!$parent.projectCustomerSelected" type="text" name="projectPurchaseManagerMobile" id="projectPurchaseManagerMobile" ng-model="$parent.project.purchase_manager.mobile" class="form-control form-input">
                            </div>
                        </div>
                    </div>

                    <div class="row form-row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <label class="form-label" for="manager">{{'data-sheet.business-location' | translate}} </label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <md-autocomplete
                                id="manager"
                                md-no-cache="true"
                                md-selected-item="$parent.project.business_location"
                                md-search-text="$parent.businessLocationSearchText"
                                md-search-text-change="$parent.entitySearchTextChange($parent.businessLocationSearchText, 'countries', 'countriesAll', 'name')"
                                md-items="c in $parent.countries"
                                md-item-text="c.name"
                                md-min-length="0"
                                placeholder="{{'data-sheet.select-business-location' | translate}}"
                                >
                              <md-item-template>
                                <span md-highlight-text="$parent.managerSearchText" md-highlight-flags="^i">{{c.name}}</span>
                              </md-item-template>
                            </md-autocomplete>
                        </div>
                    </div>

                    <div class="row form-row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <label class="form-label" for="projectEndCustomer">{{'data-sheet.end-customer' | translate}}</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <input type="text" name="projectEndCustomer" id="projectEndCustomer" ng-model="$parent.project.end_customer" class="form-control form-input">
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'data-sheet.additional-information' | translate}}
                </div>
                <div class="panel-body">

                    <div class="row form-row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <label class="form-label" for="projectEstimatedValue">{{'data-sheet.estimated-value' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="input-group">
                                <input type="number" name="projectEstimatedValue" id="projectEstimatedValue" ng-model="$parent.project.estimated_value" class="form-control form-input">
                                <div class="input-group-addon">
                                     {{$parent.project.estimated_value_currency.symbol}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <label class="form-label" for="projectEstimatedValueCUrrency">{{'data-sheet.currency' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <md-autocomplete
                                id="projectEstimatedValueCurrency"
                                md-no-cache="true"
                                md-selected-item="$parent.project.estimated_value_currency"
                                md-search-text="$parent.estimatedValueCurrencySearchText"
                                md-search-text-change="$parent.entitySearchTextChange($parent.estimatedValueCurrencySearchText, 'currencies', 'currenciesAll', 'short_name')"
                                md-selected-item-change="$parent.estimatedValueCurrencyChange(c, $parent.project.estimated_value_currency_id, $parent.project.estimated_value)"
                                md-items="c in $parent.currencies"
                                md-item-text="c.short_name"
                                md-min-length="0"
                                >
                              <md-item-template>
                                <span md-highlight-text="$parent.estimatedValueCurrencySearchText" md-highlight-flags="^i">{{c.short_name}}</span>
                              </md-item-template>
                            </md-autocomplete>

                        </div>
                    </div>

                    <div class="row form-row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <label class="form-label" for="projectStandards">{{'data-sheet.standards' | translate}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="projectStandards" id="projectStandards" ng-model="$parent.project.standards" class="form-control form-input">
                        </div>
                    </div>

                    <div class="row form-row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <label class="form-label" for="projectLife">{{'data-sheet.life-years' | translate}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <input type="number" name="projectLife" id="projectLife" ng-model="$parent.project.life" class="form-control form-input">
                        </div>
                    </div>

                    <div class="row form-row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <label class="form-label" for="projectItemToDesign">{{'data-sheet.item-to-design' | translate}}</label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <input type="number" name="projectItemToDesign" id="projectItemToDesign" ng-model="$parent.project.item_to_design" class="form-control form-input">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <label class="form-label" for="projectItemToDesign">{{'data-sheet.versus-nr-of-rfq' | translate}}</label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <input type="text" name="projectNrOfRfq" id="projectNrOfRfq" ng-model="$parent.project.rfqs.length" class="form-control form-input">
                        </div>
                    </div>

                    <div class="row form-row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <label class="form-label">{{'data-sheet.spot-order' | translate}}</label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-checkboxes">
                            <label class="checkbox-inline checkbox-inline-label"><input type="radio" value="1" ng-checked="$parent.project.spot_order === 1" ng-model="$parent.project.spot_order">&nbsp;{{'data-sheet.yes' | translate}}</label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-checkboxes">
                            <label class="checkbox-inline checkbox-inline-label"><input type="radio" value="2" ng-checked="$parent.project.spot_order === 2"  ng-model="$parent.project.spot_order">&nbsp;{{'data-sheet.no' | translate}}</label>
                        </div>
                    </div>

                    <div class="row form-row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label class="form-label" for="projectMarket">{{'data-sheet.market-id' | translate}}</label>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                            <md-autocomplete
                                    id="projectMarket"
                                    md-no-cache="true"
                                    md-selected-item="$parent.project.marketParent"
                                    md-search-text="$parent.marketParentSearchText"
                                    md-search-text-change="$parent.entitySearchTextChange($parent.marketParentSearchText, 'marketParents', 'marketParentsAll', 'entity')"
                                    md-selected-item-change="$parent.marketParentSelectedItemChange(p)"
                                    md-items="p in marketParents"
                                    md-item-text="p.entity"
                                    md-min-length="0"
                                    placeholder="{{'data-sheet.select-market-parent-entity' | translate}}"
                            >
                                <md-item-template>
                                    <span md-highlight-text="marketParentSearchText" md-highlight-flags="^i">{{p.entity}}</span>
                                </md-item-template>
                            </md-autocomplete>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                            <md-autocomplete
                                    md-no-cache="true"
                                    md-selected-item="$parent.project.market"
                                    md-search-text="$parent.marketChildSearchText"
                                    md-search-text-change="$parent.entitySearchTextChange($parent.marketChildSearchText, 'marketChildren', 'marketChildrenAll', 'entity')"
                                    md-items="c in marketChildren"
                                    md-item-text="c.entity_path+c.entity"
                                    md-min-length="0"
                                    ng-disabled="!projectMarketParentSelected"
                                    placeholder="{{'data-sheet.select-market-child-entity' | translate}}"
                            >
                                <md-item-template>
                                    <span md-highlight-text="marketChildSearchText" md-highlight-flags="^i">{{c.entity_path+c.entity}}</span>
                                </md-item-template>
                            </md-autocomplete>  </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <input type="text" name="projectMarketChildNumber" id="projectMarketChildNumber" ng-model="$parent.project.market.no_entity" class="form-control form-input">
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'data-sheet.remarks' | translate}}
                </div>
                <div class="panel-body">

                    <div class="row form-row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <label class="form-label" for="projectName">{{'data-sheet.remarks' | translate}}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                            <textarea name="projectRemarks" id="projectRemarks" ng-model="project.remarks" class="form-control form-input data-sheet-textarea"></textarea>
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'data-sheet.log' | translate}}
                </div>
                <div class="panel-body">

                    <div class="row form-row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="form-label" for="projectCreationDate">{{'data-sheet.creation-date' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <input type="text" name="projectCreationDate" id="projectCreationDate" ng-model="$parent.project.creation_date" class="form-control form-input" disabled="disabled">
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="form-label" for="projectModificationDate">{{'data-sheet.modification-date' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <input type="text" name="projectModificationDate" id="projectModificationDate" ng-model="$parent.project.last_modified_on" class="form-control form-input" disabled="disabled">
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="form-label" for="projectLastModifiedBy">{{'data-sheet.last-modified-by' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <input type="text" name="projectLastModifiedBy" id="projectLastModifiedBy" ng-model="$parent.project.last_modified_by" class="form-control form-input" disabled="disabled">
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'data-sheet.actions' | translate}}
                </div>
                <div class="panel-body">

                    <div class="row form-row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <input type="submit" value="{{'data-sheet.save-new-project' | translate}}" class="btn btn-primary btn-full-width" ng-if="projectAdding" ng-disabled="projectExists == true" ng-click="createNewProject()">
                            <input type="submit" value="{{'data-sheet.update-project' | translate}}" class="btn btn-primary btn-full-width" ng-if="projectEditing" ng-click="updateProject()">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <input type="submit" value="{{'data-sheet.add-new-rfq' | translate}}" class="btn btn-primary btn-full-width" ng-if="!projectAdding" ng-click="prepareNewRfq()">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="button" class="btn btn-success btn-full-width"  ng-csv="projectExport" filename="{{project.name}}.csv"
                                    csv-column-order="projectExportHeader" csv-header="projectExportHeader" >{{'data-sheet.export-project' | translate}}</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</form>