<div class="container-fluid">
    <div class="row"> 
        
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div ng-include="'views/project-rfq-npi-sales-data-tree.html'"></div>                              
        </div>
        
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" ng-show="projectViewed && project !== null">
            <div ng-include="'views/project-rfq-npi-sales-project.html'"></div>                          
        </div>
        
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" ng-show="rfqViewed && rfq !== null">
            <div ng-include="'views/project-rfq-npi-sales-rfq.html'"></div>                          
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" ng-show="npiViewed && npi !== null && generateSaleShow == false">
            <div ng-include="'views/project-rfq-npi-sales-npi.html'"></div>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" ng-show="npiViewed && npi !== null && generateSaleShow">
            <div ng-include="'views/project-rfq-npi-sales-generate-sale.html'"></div>
        </div>


    </div>
</div>