<div class="container-fluid">
    <div class="row"> 
        <!-- projects tab -->
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'search.projects' | translate}}
                </div>
                <div class="panel-body">                    
                    <form name="projectSearchForm">
                        
                        <div class="row form-row">                            
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <label class="form-label" for="projects-id">{{'search.project-id' | translate}}</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <input type="text" name="projects-id" id="projects-id" ng-model="projects.id" class="form-control form-input" ng-blur="changeSearchParamProjects('id')">
                            </div>                                
                        </div>
                        
                        <div class="row form-row">                            
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <label class="form-label" for="projects-name">{{'search.project-name' | translate}}</label>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                <input type="text" name="projects-name" id="projects-name" ng-model="projects.name" class="form-control form-input" ng-blur="changeSearchParamProjects('name')">
                            </div>                                
                        </div>
                        
                        <div class="row form-row-empty">   
                        </div>
                        
                        <div class="row form-row">                            
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <label class="form-label">{{'search.project-status' | translate}}</label>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-checkboxes">
                                <label class="checkbox-inline checkbox-inline-label"><input type="checkbox" value="" ng-model="projects.status.init" ng-change="changeSearchParamProjectsStatus('init')">{{'search.init' | translate}}</label>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-checkboxes">
                                <label class="checkbox-inline checkbox-inline-label"><input type="checkbox" value="" ng-model="projects.status.opened" ng-change="changeSearchParamProjectsStatus('opened')">{{'search.opened' | translate}}</label>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-checkboxes">
                                <label class="checkbox-inline checkbox-inline-label"><input type="checkbox" value="" ng-model="projects.status.closed" ng-change="changeSearchParamProjectsStatus('closed')">{{'search.closed' | translate}}</label>
                            </div>                                
                        </div>
                        
                        <div class="row form-row-empty">   
                        </div>
                        
                        <div class="row form-row">                            
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <label class="form-label" for="manager">{{'search.project-manager' | translate}}</label>
                            </div>                           
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <md-autocomplete
                                    id="manager"
                                    md-no-cache="true"
                                    md-selected-item="projects.manager"
                                    md-search-text="managerSearchText"
                                    md-search-text-change="managerSearchTextChange(managerSearchText)"
                                    md-selected-item-change="managerSelectedItemChange(p)"
                                    md-items="p in managers"
                                    md-item-text="p.name"
                                    md-min-length="0"
                                    placeholder="{{'search.select-project-manager' | translate}}"
                                    >
                                  <md-item-template>
                                    <span md-highlight-text="managerSearchText" md-highlight-flags="^i">{{p.name}}</span>
                                  </md-item-template>
                                </md-autocomplete>                              
                            </div>
                        </div>
                        
                        <div class="row form-row">                                                        
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <label class="form-label" for="keyAccountManager">{{'search.key-account-manager' | translate}}</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <md-autocomplete
                                    id="keyAccountManager"
                                    md-no-cache="true"
                                    md-selected-item="projects.keyAccountManager"
                                    md-search-text="keyAccountManagerSearchText"
                                    md-search-text-change="keyAccountManagerSearchTextChange(keyAccountManagerSearchText)"
                                    md-selected-item-change="keyAccountManagerSelectedItemChange(p)"
                                    md-items="p in keyAccountManagers"
                                    md-item-text="p.name"
                                    md-min-length="0"
                                    placeholder="{{'search.select-key-account-manager' | translate}}"
                                    >
                                  <md-item-template>
                                    <span md-highlight-text="keyAccountManagerSearchText" md-highlight-flags="^i">{{p.name}}</span>
                                  </md-item-template>
                                </md-autocomplete>                              
                            </div>                      
                        </div>
                        
                        <div class="row form-row-empty">   
                        </div>
                        
                        <div class="row form-row">                            
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <label class="form-label" for="projectCustomer">{{'search.customer' | translate}}</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">                               
                                <md-autocomplete
                                    id="projectCustomer"
                                    md-no-cache="true"
                                    md-selected-item="projects.customer"
                                    md-search-text="customerSearchText"
                                    md-search-text-change="customerSearchTextChange(customerSearchText)"
                                    md-selected-item-change="customerSelectedItemChange(c)"
                                    md-items="c in customers"
                                    md-item-text="c.name"
                                    md-min-length="0"
                                    placeholder="{{'search.select-customer' | translate}}"
                                    >
                                  <md-item-template>
                                    <span md-highlight-text="customerSearchText" md-highlight-flags="^i">{{c.name}}</span>
                                  </md-item-template>
                                </md-autocomplete>                                  
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <input type="text" name="projectCustomerPath" id="projectCustomerPath" ng-model="projects.customerPath" class="form-control form-input">                              
                            </div>  
                        </div>
                        
                        <div class="row form-row">                            
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <label class="form-label" for="projectPurchaser">{{'search.purchaser' | translate}}</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <md-autocomplete
                                    id="projectPurchaser"
                                    md-no-cache="true"
                                    md-selected-item="projects.purchaser"
                                    md-search-text="purchaserSearchText"
                                    md-search-text-change="purchaserSearchTextChange(purchaserSearchText)"
                                    md-selected-item-change="purchaserSelectedItemChange(p)"
                                    md-items="p in purchasers"
                                    md-item-text="p.name"
                                    md-min-length="0"
                                    ng-disabled="!customerSelected"
                                    placeholder="{{'search.select-purchaser' | translate}}"
                                    >
                                  <md-item-template>
                                    <span md-highlight-text="purchaserSearchText" md-highlight-flags="^i">{{p.name}}</span>
                                  </md-item-template>
                                </md-autocomplete>    
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 div-checkboxes">
                                <label class="checkbox-inline checkbox-inline-label"><input type="checkbox" value="" ng-model="projects.includeAllGroups" ng-change="changeSearchParamProjects('includeAllGroups')">{{'search.include-all-groups' | translate}}</label>                             
                            </div>  
                        </div>
                        
                        <div class="row form-row-empty">   
                        </div>
                        
                        <div class="row form-row">                            
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="projectMarket">{{'search.market-id' | translate}}</label>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                <md-autocomplete
                                    id="projectMarket"
                                    md-no-cache="true"
                                    md-selected-item="projects.marketParent"
                                    md-search-text="marketParentSearchText"
                                    md-search-text-change="marketParentSearchTextChange(marketParentSearchText)"
                                    md-selected-item-change="marketParentSelectedItemChange(p)"
                                    md-items="p in marketParents"
                                    md-item-text="p.entity"
                                    md-min-length="0"
                                    placeholder="{{'search.select-market-parent-entity' | translate}}"
                                    >
                                  <md-item-template>
                                    <span md-highlight-text="marketParentSearchText" md-highlight-flags="^i">{{p.entity}}</span>
                                  </md-item-template>
                                </md-autocomplete>  
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                <md-autocomplete
                                    md-no-cache="true"
                                    md-selected-item="projects.marketChild"
                                    md-search-text="marketChildSearchText"
                                    md-search-text-change="marketChildSearchTextChange(marketChildSearchText)"
                                    md-selected-item-change="marketChildSelectedItemChange(c)"
                                    md-items="c in marketChildren"
                                    md-item-text="c.entity_path+c.entity"
                                    md-min-length="0"
                                    ng-disabled="!marketParentSelected"
                                    placeholder="{{'search.select-market-child-entity' | translate}}"
                                    >
                                  <md-item-template>
                                    <span md-highlight-text="marketChildSearchText" md-highlight-flags="^i">{{c.entity_path+c.entity}}</span>
                                  </md-item-template>
                                </md-autocomplete>  </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="text" name="projectMarketChildNumber" id="projectMarketChildNumber" ng-model="projects.marketChildNumber" class="form-control form-input">                              
                            </div>
                        </div>
                        
                        <div class="row form-row-empty">   
                        </div>
                        
                        <div class="row form-row">                            
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <label class="form-label">{{'search.creation-date' | translate}}</label>
                            </div>

                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 text-right-wide">
                                <label class="form-label">{{'search.from' | translate }}</label> 
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <input placeholder="{{'search.select-date' | translate }}" type="text" name="creationDateFrom" id="creationDateFrom" ng-model="projects.creationDateFrom" ng-blur="changeSearchParamProjects('creationDateFrom')" class="form-control form-input">
                                <script type="text/javascript">
                                    $('#creationDateFrom').datepicker({format: 'dd/mm/yyyy' });
                                </script>
                            </div>                           
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 text-right-wide">
                                <label class="form-label">{{'search.to' | translate }}</label> 
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <input placeholder="{{'search.select-date' | translate }}" type="text" name="creationDateTo" id="creationDateTo" ng-model="projects.creationDateTo" ng-blur="changeSearchParamProjects('creationDateTo')" class="form-control form-input">
                                <script type="text/javascript">
                                    $('#creationDateTo').datepicker({format: 'dd/mm/yyyy' });
                                </script>
                            </div>                            
                        </div>
                        
                         <div class="row form-row">                            
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <label class="form-label">{{'search.modification-date' | translate}}</label>
                            </div>

                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 text-right-wide">
                                <label class="form-label">{{'search.from' | translate }}</label> 
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <input placeholder="{{'search.select-date' | translate }}" type="text" name="modificationDateFrom" id="modificationDateFrom" ng-model="projects.modificationDateFrom" ng-blur="changeSearchParamProjects('modificationDateFrom')" class="form-control form-input">
                                <script type="text/javascript">
                                    $('#modificationDateFrom').datepicker({format: 'dd/mm/yyyy' });
                                </script>
                            </div>                           
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 text-right-wide">
                                <label class="form-label">{{'search.to' | translate }}</label> 
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <input placeholder="{{'search.select-date' | translate }}" type="text" name="modificationDateTo" id="modificationDateTo" ng-model="projects.modificationDateTo" ng-blur="changeSearchParamProjects('modificationDateTo')" class="form-control form-input">
                                <script type="text/javascript">
                                    $('#modificationDateTo').datepicker({format: 'dd/mm/yyyy' });
                                </script>
                            </div>                               
                        </div>
                        
                        
                    </form>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'search.rfq' | translate}}
                </div>
                <div class="panel-body">      
                    
                    <div class="row form-row">                            
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="form-label" for="rfqId">{{'search.rfq-id' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <input type="text" name="rfqId" id="rfqId" ng-model="rfqs.id" ng-blur="changeSearchParamRfqs('id')" class="form-control form-input">
                        </div>                                
                    </div>
                    
                    <div class="row form-row">                            
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="form-label" for="customerPN">{{'search.customer-p-n' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <input type="text" name="customerPN" id="customerPN" ng-model="rfqs.customerPN" ng-blur="changeSearchParamRfqs('customerPN')" class="form-control form-input">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <span class="form-info">{{'search.customer-p-n-info' | translate}}</span>
                        </div>  
                    </div>
                    
                    <div class="row form-row">                            
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="form-label">{{'search.rfq-status' | translate}}</label>                                  
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-checkboxes">
                            <label class="checkbox-inline checkbox-inline-label"><input type="checkbox" value="" ng-model="rfqs.status.init" ng-change="changeSearchParamRfqsStatus('init')">{{'search.init' | translate}}</label>
                        </div> 
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-checkboxes">
                            <label class="checkbox-inline checkbox-inline-label"><input type="checkbox" value="" ng-model="rfqs.status.t10" ng-change="changeSearchParamRfqsStatus('t10')">{{'search.t10' | translate}}</label>
                        </div> 
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-checkboxes">                   
                            <label class="checkbox-inline checkbox-inline-label"><input type="checkbox" value="" ng-model="rfqs.status.t20" ng-change="changeSearchParamRfqsStatus('t20')">{{'search.t20' | translate}}</label>
                        </div> 
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-checkboxes">                        
                            <label class="checkbox-inline checkbox-inline-label"><input type="checkbox" value="" ng-model="rfqs.status.t30" ng-change="changeSearchParamRfqsStatus('t30')">{{'search.t30' | translate}}</label>                       
                        </div>  
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-checkboxes">                        
                            <label class="checkbox-inline checkbox-inline-label"><input type="checkbox" value="" ng-model="rfqs.status.rejected" ng-change="changeSearchParamRfqsStatus('rejected')">{{'search.rejected' | translate}}</label>                       
                        </div>   
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-checkboxes">                        
                            <label class="checkbox-inline checkbox-inline-label"><input type="checkbox" value="" ng-model="rfqs.status.dead" ng-change="changeSearchParamRfqsStatus('dead')">{{'search.dead' | translate}}</label>                       
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 div-checkboxes" >                        
                            <md-autocomplete
                                md-no-cache="true"
                                md-selected-item="rfqs.deadReason"
                                md-search-text="rfqDeadReasonSearchText"
                                md-search-text-change="rfqDeadReasonSearchTextChange(rfqDeadReasonSearchText)"
                                md-selected-item-change="rfqDeadReasonSelectedItemChange(d)"
                                md-items="d in rfqDeadReasons"
                                md-item-text="d.reason"
                                md-min-length="0"
                                ng-disabled="!rfqs.status.dead"
                                placeholder="{{'search.select-dead-reason' | translate}}"
                                >
                              <md-item-template>
                                <span md-highlight-text="rfqDeadReasonSearchText" md-highlight-flags="^i">{{d.reason}}</span>
                              </md-item-template>
                            </md-autocomplete>  
                        </div> 
                    </div>
                    
                    <div class="row form-row">                            
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="form-label">{{'search.engineering-actions' | translate}}</label>                                  
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 div-checkboxes">
                            <label class="checkbox-inline checkbox-inline-label"><input type="checkbox" value="" ng-model="rfqs.engineeringActions.designRequired" ng-change="changeSearchParamRfqsEngineeringActions('designRequired')">{{'search.design-required' | translate}}</label>
                        </div> 
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 div-checkboxes">
                            <label class="checkbox-inline checkbox-inline-label"><input type="checkbox" value="" ng-model="rfqs.engineeringActions.costingComplete" ng-change="changeSearchParamRfqsEngineeringActions('costingComplete')">{{'search.costing-complete' | translate}}</label>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-4 col-lg-offset-3 col-md-4 col-md-offset-3 col-sm-4 col-sm-offset-3 col-xs-12 div-checkboxes">
                            <label class="checkbox-inline checkbox-inline-label"><input type="checkbox" value="" ng-model="rfqs.engineeringActions.designComplete" ng-change="changeSearchParamRfqsEngineeringActions('designComplete')">{{'search.design-complete' | translate}}</label>
                        </div> 
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 div-checkboxes">
                            <label class="checkbox-inline checkbox-inline-label"><input type="checkbox" value="" ng-model="rfqs.engineeringActions.massProdAuth" ng-change="changeSearchParamRfqsEngineeringActions('massProdAuth')">{{'search.mass-prod-auth' | translate}}</label>                       
                        </div>  
                    </div>

                    <div class="row form-row-empty"></div>

                    <div class="row form-row">                            
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="form-label" for="rfqCategory">{{'search.category' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <select class="form-control" name="rfqCategory" id="rfqCategory" ng-model="rfqs.category" ng-change="changeSearchParamRfqs('category')" ng-options="category.name for category in categories track by category.id">                              
                            </select> 
                        </div>                                
                    </div>
                    
                    <div class="row form-row">                            
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="form-label" for="rfqPNFormat">{{'search.pn-format' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <select class="form-control" name="rfqPNFormat" id="rfqPNFormat" ng-model="rfqs.PNFormat" ng-change="changeSearchParamRfqs('PNFormat')"
                                 ng-options="PNFormat.text for PNFormat in PNFormats" >
                            </select> 
                        </div>                                
                    </div>
                    
                    <div class="row form-row">                            
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="form-label" for="rfqPriority">{{'search.priority' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <select class="form-control" name="rfqPriority" id="rfqPriority" ng-model="rfqs.priority" ng-change="changeSearchParamRfqs('priority')"
                                 ng-options="priority.text for priority in priorities"
                                >
                            </select> 
                        </div>                                
                    </div>
                    
                    <div class="row form-row">                            
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="form-label">{{'search.development-status' | translate}}</label>                                  
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 div-checkboxes">
                            <label class="checkbox-inline checkbox-inline-label"><input type="radio" value="newDevelopment" ng-checked="rfqs.newDev === 'newDevelopment'" ng-model="rfqs.newDev" ng-change="changeSearchParamRfqs('newDev')">&nbsp;{{'search.new-development' | translate}}</label>
                        </div> 
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 div-checkboxes">
                            <label class="checkbox-inline checkbox-inline-label"><input type="radio" value="runningOnSecondSource" ng-checked="rfqs.newDev === 'runningOnSecondSource'"  ng-model="rfqs.newDev" ng-change="changeSearchParamRfqs('newDev')">&nbsp;{{'search.running-on-second-source' | translate}}</label>
                        </div>  
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <button class="btn btn-default" ng-click="resetDevelopmentStatus()"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>

                    <div class="row form-row">                            
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="form-label">{{'search.business-status' | translate}}</label>                                  
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 div-checkboxes">
                            <label class="checkbox-inline checkbox-inline-label"><input type="radio" value="newBusiness" ng-checked="rfqs.newBiz == 'newBusiness'"  ng-model="rfqs.newBiz" ng-change="changeSearchParamRfqs('newBiz')">&nbsp;{{'search.new-business' | translate}}</label>
                        </div> 
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 div-checkboxes">
                            <label class="checkbox-inline checkbox-inline-label"><input type="radio" value="replacingExistingBusiness" ng-checked="rfqs.newBiz == 'replacingExistingBusiness'" ng-model="rfqs.newBiz" ng-change="changeSearchParamRfqs('newBiz')">&nbsp;{{'search.replacing-existing-business' | translate}}</label>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <button class="btn btn-default" ng-click="resetBusinessStatus()"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>

                    <div class="row form-row-empty"></div>


                    <div class="row form-row">                            
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="form-label">{{'search.creation-date' | translate}}</label>
                        </div>

                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 text-right-wide">
                            <label class="form-label">{{'search.from' | translate }}</label> 
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <input placeholder="{{'search.select-date' | translate }}" type="text" name="creationDateFromRfqs" id="creationDateFromRfqs" ng-model="rfqs.creationDateFrom" ng-blur="changeSearchParamRfqs('creationDateFrom')" class="form-control form-input">
                            <script type="text/javascript">
                                $('#creationDateFromRfqs').datepicker({format: 'dd/mm/yyyy' });
                            </script>
                        </div>                           
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 text-right-wide">
                            <label class="form-label">{{'search.to' | translate }}</label> 
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <input placeholder="{{'search.select-date' | translate }}" type="text" name="creationDateToRfqs" id="creationDateToRfqs" ng-model="rfqs.creationDateTo" ng-blur="changeSearchParamRfqs('creationDateTo')" class="form-control form-input">
                            <script type="text/javascript">
                                $('#creationDateToRfqs').datepicker({format: 'dd/mm/yyyy' });
                            </script>
                        </div>                            
                    </div>
                        
                    <div class="row form-row">                            
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="form-label">{{'search.modification-date' | translate}}</label>
                        </div>

                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 text-right-wide">
                            <label class="form-label">{{'search.from' | translate }}</label> 
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <input placeholder="{{'search.select-date' | translate }}" type="text" name="modificationDateFromRfqs" id="modificationDateFromRfqs" ng-model="rfqs.modificationDateFrom" ng-blur="changeSearchParamRfqs('modificationDateFrom')" class="form-control form-input">
                            <script type="text/javascript">
                                $('#modificationDateFromRfqs').datepicker({format: 'dd/mm/yyyy' });
                            </script>
                        </div>                           
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 text-right-wide">
                            <label class="form-label">{{'search.to' | translate }}</label> 
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <input placeholder="{{'search.select-date' | translate }}" type="text" name="modificationDateToRfqs" id="modificationDateToRfqs" ng-model="rfqs.modificationDateTo" ng-blur="changeSearchParamRfqs('modificationDateTo')" class="form-control form-input">
                            <script type="text/javascript">
                                $('#modificationDateToRfqs').datepicker({format: 'dd/mm/yyyy' });
                            </script>
                        </div>                            
                    </div>
                    
                    <div class="row form-row">                            
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label class="form-label" for="rfqProject">{{'search.product-id' | translate}}</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <md-autocomplete
                                id="rfqProject"
                                md-no-cache="true"
                                md-selected-item="rfqs.productParent"
                                md-search-text="productParentSearchText"
                                md-search-text-change="productParentSearchTextChange(productParentSearchText)"
                                md-selected-item-change="productParentSelectedItemChange(p)"
                                md-items="p in productParents"
                                md-item-text="p.entity"
                                md-min-length="0"
                                placeholder="{{'search.select-product-parent-entity' | translate}}"
                                >
                              <md-item-template>
                                <span md-highlight-text="productParentSearchText" md-highlight-flags="^i">{{p.entity}}</span>
                              </md-item-template>
                            </md-autocomplete>  
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <md-autocomplete
                                md-no-cache="true"
                                md-selected-item="rfqs.productChildOne"
                                md-search-text="productChildOneSearchText"
                                md-search-text-change="productChildOneSearchTextChange(productChildOneSearchText)"
                                md-selected-item-change="productChildOneSelectedItemChange(p)"
                                md-items="p in productChildrenOne"
                                md-item-text="p.entity"
                                md-min-length="0"
                                ng-disabled="!productParentSelected"
                                ng-show="productChildOneShown"
                                placeholder="{{'search.select-product-child-one-entity' | translate}}"
                                >
                              <md-item-template>
                                <span md-highlight-text="productChildOneSearchText" md-highlight-flags="^i">{{p.entity}}</span>
                              </md-item-template>
                            </md-autocomplete>  
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <md-autocomplete
                                md-no-cache="true"
                                md-selected-item="rfqs.productChildTwo"
                                md-search-text="productChildTwoSearchText"
                                md-search-text-change="productChildTwoSearchTextChange(productChildTwoSearchText)"
                                md-selected-item-change="productChildTwoSelectedItemChange(p)"
                                md-items="p in productChildrenTwo"
                                md-item-text="p.entity"
                                md-min-length="0"
                               
                                ng-show="productChildTwoShown"
                                placeholder="{{'search.select-product-child-two-entity' | translate}}"
                                >
                              <md-item-template>
                                <span md-highlight-text="productChildTwoSearchText" md-highlight-flags="^i">{{p.entity}}</span>
                              </md-item-template>
                            </md-autocomplete>  
                        </div>
                        
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <md-autocomplete
                                md-no-cache="true"
                                md-selected-item="rfqs.productProduct"
                                md-search-text="productProductSearchText"
                                md-search-text-change="productProductSearchTextChange(productProductSearchText)"
                                md-selected-item-change="productProductSelectedItemChange(p)"
                                md-items="p in productProducts"
                                md-item-text="p.entity"
                                md-min-length="0"
                                ng-show="productProductShown"
                                placeholder="{{'search.select-product' | translate}}"
                                >
                              <md-item-template>
                                <span md-highlight-text="productProductSearchText" md-highlight-flags="^i">{{p.entity}}</span>
                              </md-item-template>
                            </md-autocomplete>  
                        </div>
                    </div>
                    
                    <div class="row form-row">                            
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="form-label" for="rfqCustomerEngineer">{{'search.customer-engineer' | translate}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">                               
                            <md-autocomplete
                                id="rfqCustomerEngineer"
                                md-no-cache="true"
                                md-selected-item="rfqs.customerEngineer"
                                md-search-text="customerEngineerSearchText"
                                md-search-text-change="customerEngineerSearchTextChange(customerEngineerSearchText)"
                                md-selected-item-change="customerEngineerSelectedItemChange(c)"
                                md-items="c in customerEngineers"
                                md-item-text="c.name"
                                md-min-length="0"
                                ng-disabled="!customerSelected"
                                placeholder="{{'search.select-customer-engineer' | translate}}"
                                >
                              <md-item-template>
                                <span md-highlight-text="customerEngineerSearchText" md-highlight-flags="^i">{{c.name}}</span>
                              </md-item-template>
                            </md-autocomplete>                                  
                        </div> 
                    </div>
                    
                    <div class="row form-row">                            
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="form-label" for="rfqTamuraElectricalEnginner">{{'search.tamura-electrical-engineer' | translate}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">                               
                            <md-autocomplete
                                id="rfqTamuraElectricalEnginner"
                                md-no-cache="true"
                                md-selected-item="rfqs.electricalEngineer"
                                md-search-text="electricalEngineerSearchText"
                                md-search-text-change="electricalEngineerSearchTextChange(electricalEngineerSearchText)"
                                md-selected-item-change="electricalEngineerSelectedItemChange(c)"
                                md-items="c in electricalEngineers"
                                md-item-text="c.name"
                                md-min-length="0"
                                placeholder="{{'search.select-electrical-engineer' | translate}}"
                                >
                              <md-item-template>
                                <span md-highlight-text="electricalEngineerSearchText" md-highlight-flags="^i">{{c.name}}</span>
                              </md-item-template>
                            </md-autocomplete>                                  
                        </div> 
                    </div>
                    
                    <div class="row form-row">                            
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="form-label" for="rfqTamuraMechanicalEngineer">{{'search.tamura-mechanical-engineer' | translate}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">                               
                            <md-autocomplete
                                id="rfqTamuraMechanicalEngineer"
                                md-no-cache="true"
                                md-selected-item="rfqs.mechanicalEngineer"
                                md-search-text="mechanicalEngineerSearchText"
                                md-search-text-change="mechanicalEngineerSearchTextChange(mechanicalEngineerSearchText)"
                                md-selected-item-change="mechanicalEngineerSelectedItemChange(c)"
                                md-items="c in mechanicalEngineers"
                                md-item-text="c.name"
                                md-min-length="0"
                                placeholder="{{'search.select-mechanical-engineer' | translate}}"
                                >
                              <md-item-template>
                                <span md-highlight-text="mechanicalEngineerSearchText" md-highlight-flags="^i">{{c.name}}</span>
                              </md-item-template>
                            </md-autocomplete>                                  
                        </div> 
                    </div>
                                       
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'search.sales' | translate}}
                </div>
                <div class="panel-body"> 
                    
                    <div class="row form-row">                            
                       
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="form-label" for="salesCustomer">{{'search.sales-customer' | translate}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">                               
                            <md-autocomplete
                                id="salesCustomer"
                                md-no-cache="true"
                                md-selected-item="sales.customer"
                                md-search-text="salesCustomerSearchText"
                                md-search-text-change="salesCustomerSearchTextChange(salesCustomerSearchText)"
                                md-selected-item-change="salesCustomerSelectedItemChange(c)"
                                md-items="c in salesCustomers"
                                md-item-text="c.name"
                                md-min-length="0"
                                placeholder="{{'search.select-sales-customer' | translate}}"
                                >
                              <md-item-template>
                                <span md-highlight-text="salesCustomerSearchText" md-highlight-flags="^i">{{c.name}}</span>
                              </md-item-template>
                            </md-autocomplete>                                  
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <input type="text" name="salesCustomerPath" id="salesCustomerPath" ng-model="sales.customerPath" class="form-control form-input">                              
                        </div>  
                    </div>
                    
                    <div class="row form-row">                            
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="form-label" for="salesPurchaseManager">{{'search.sales-purchase-manager' | translate}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">                               
                            <md-autocomplete
                                id="salesPurchaseManager"
                                md-no-cache="true"
                                md-selected-item="sales.purchaseManager"
                                md-search-text="purchaseManagerSearchText"
                                md-search-text-change="purchaseManagerSearchTextChange(purchaseManagerSearchText)"
                                md-selected-item-change="purchaseManagerSelectedItemChange(c)"
                                md-items="c in purchaseManagers"
                                md-item-text="c.name"
                                md-min-length="0"
                                placeholder="{{'search.select-sales-purchase-manager' | translate}}"
                                >
                              <md-item-template>
                                <span md-highlight-text="purchaseManagerSearchText" md-highlight-flags="^i">{{c.name}}</span>
                              </md-item-template>
                            </md-autocomplete>                                  
                        </div> 
                    </div>
                    
                    <div class="row form-row">                            
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="form-label" for="salesManager">{{'search.sales-manager' | translate}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">                               
                            <md-autocomplete
                                id="salesManager"
                                md-no-cache="true"
                                md-selected-item="sales.manager"
                                md-search-text="salesManagerSearchText"
                                md-search-text-change="salesManagerSearchTextChange(salesManagerSearchText)"
                                md-selected-item-change="salesManagerSelectedItemChange(c)"
                                md-items="c in salesManagers"
                                md-item-text="c.name"
                                md-min-length="0"
                                placeholder="{{'search.select-sales-manager' | translate}}"
                                >
                              <md-item-template>
                                <span md-highlight-text="salesManagerSearchText" md-highlight-flags="^i">{{c.name}}</span>
                              </md-item-template>
                            </md-autocomplete>                                  
                        </div> 
                    </div>
                    
                    <div class="row form-row">                            
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="form-label">{{'search.validity' | translate}}</label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-checkboxes">
                            <label class="checkbox-inline checkbox-inline-label"><input type="radio" ng-value="3" ng-checked="sales.alsoInvalid === 3" ng-model="sales.alsoInvalid"  ng-change="changeSalesAlsoInvalid(3)">&nbsp;{{'data-sheet.all' | translate}}</label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-checkboxes">
                            <label class="checkbox-inline checkbox-inline-label"><input type="radio" ng-value="1" ng-checked="sales.alsoInvalid === 1"  ng-model="sales.alsoInvalid"  ng-change="changeSalesAlsoInvalid(1)">&nbsp;{{'data-sheet.valid' | translate}}</label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-checkboxes">
                            <label class="checkbox-inline checkbox-inline-label"><input type="radio" ng-value="2" ng-checked="sales.alsoInvalid === 2" ng-model="sales.alsoInvalid"  ng-change="changeSalesAlsoInvalid(2)">&nbsp;{{'data-sheet.not-valid' | translate}}</label>
                        </div>

                    </div>
                    
                </div>
            </div>
            
        </div>
        
        <!-- refresh data quantity tab -->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'search.data-quantity' | translate}}
                </div>
                <form name="dataQuatityForm">
                    <div class="panel-body">

                        <div class="row form-row">
                            <div class="col-lg-6 col-lg-offset-5 col-md-6 col-md-offset-5 col-sm-6 col-sm-offset-5 col-xs-6 col-xs-offset-5 text-center">
                                <label class="form-label">{{'search.project-status' | translate}}</label>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-2 col-lg-offset-5 col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-2 col-xs-offset-5 text-center">
                                <label class="form-label">{{'search.init' | translate}}</label>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                <label class="form-label">{{'search.opened' | translate}}</label>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                <label class="form-label">{{'search.closed' | translate}}</label>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2 col-xs-3 col-xs-offset-2 text-center">
                                <label class="form-label">{{'search.nr-of-projects' | translate}}</label>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                <input type="text" name="projectsInitCount" id="projectsInitCount" ng-model="dataQuantity.projectsInit"  class="form-control form-input">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                <input type="text" name="projectsOpenedCount" id="projectsOpenedCount" ng-model="dataQuantity.projectsOpened" class="form-control form-input">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                <input type="text" name="projectsClosedCount" id="projectsClosedCount" ng-model="dataQuantity.projectsClosed" class="form-control form-input">
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                <label class="form-label">{{'search.rfq-status' | translate}}</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                                <label class="form-label">{{'search.init' | translate}}</label>
                            </div>
                            <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2 text-center">
                                <input type="text" name="rfqsInitCount" id="rfqsInitCount" ng-model="dataQuantity.rfqsInit" class="form-control form-input">
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2 col-xs-3 col-xs-offset-2 text-center">
                                <label class="form-label">{{'search.t10' | translate}}</label>
                            </div>
                            <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2 text-center">
                                <input type="text" name="rfqsT10Count" id="rfqsT10Count" ng-model="dataQuantity.rfqsT10" class="form-control form-input">
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2 col-xs-3 col-xs-offset-2 text-center">
                                <label class="form-label">{{'search.t20' | translate}}</label>
                            </div>
                            <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2 text-center">
                                <input type="text" name="rfqsT20Count" id="rfqsT20Count" ng-model="dataQuantity.rfqsT20" class="form-control form-input">
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2 col-xs-3 col-xs-offset-2 text-center">
                                <label class="form-label">{{'search.t30' | translate}}</label>
                            </div>
                            <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2 text-center">
                                <input type="text" name="rfqsT30OpenedCount" id="rfqsT30OpenedCount" ng-model="dataQuantity.rfqsT30Opened" class="form-control form-input">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                <input type="text" name="rfqsT30ClosedCount" id="rfqsT30ClosedCount" ng-model="dataQuantity.rfqsT30Closed" class="form-control form-input">
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2 col-xs-3 col-xs-offset-2 text-center">
                                <label class="form-label">{{'search.dead' | translate}}</label>
                            </div>
                            <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2 text-center">
                                <input type="text" name="rfqsDeadOpenedCount" id="rfqsDeadOpenedCount" ng-model="dataQuantity.rfqsDeadOpened" class="form-control form-input">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                <input type="text" name="rfqsDeadClosedCount" id="rfqsDeadClosedCount" ng-model="dataQuantity.rfqsDeadClosed" class="form-control form-input">
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2 col-xs-3 col-xs-offset-2 text-center">
                                <label class="form-label">{{'search.rejected' | translate}}</label>
                            </div>
                            <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2 text-center">
                                <input type="text" name="rfqsRejectedOpenedCount" id="rfqsRejectedOpenedCount" ng-model="dataQuantity.rfqsRejectedOpened" class="form-control form-input">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                <input type="text" name="rfqsRejectedClosedCount" id="rfqsRejectedClosedCount" ng-model="dataQuantity.rfqsRejectedClosed" class="form-control form-input">
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2 col-xs-3 col-xs-offset-2 text-center">
                                <label class="form-label">{{'search.nr-of-npi' | translate}}</label>
                            </div>
                            <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2 text-center">
                                <input type="text" name="npisOpenedCount" id="npisOpenedCount" ng-model="dataQuantity.npisOpened" class="form-control form-input">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                <input type="text" name="npisClosedCount" id="npisClosedCount" ng-model="dataQuantity.npisClosed" class="form-control form-input">
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2 col-xs-3 col-xs-offset-2 text-center">
                                <label class="form-label">{{'search.nr-of-sales' | translate}}</label>
                            </div>
                            <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2 text-center">
                                <input type="text" name="salesOpenedCount" id="salesOpenedCount" ng-model="dataQuantity.salesOpened" class="form-control form-input">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                <input type="text" name="salesClosedCount" id="salesClosedCount" ng-model="dataQuantity.salesClosed" class="form-control form-input">
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <button class="btn btn-primary" ng-click="refreshDataQuantity()" name="save">{{'search.refresh-data-quantity' | translate }}</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'search.save-load-search-parameters' | translate}}
                </div>
                <div class="panel-body">
                    
                    <form name="saveSearchParamsForm" ng-submit="saveSearchParams()">                        
                        <div class="row form-row">                            
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label">{{'search.save-as-personalization' | translate}}</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <input placeholder="{{'search.enter-personalization-name' | translate }}" type="text" name="personalizationName" ng-model="personalizationName" class="form-control form-input" required>               
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <button class="btn btn-primary" type="submit" name="save">{{'search.save' | translate }}</button>                          
                            </div>  
                        </div>                    
                    </form>
                    
                    <form name="loadSearchParamsForm" ng-submit="loadSearchParams()">                        
                        <div class="row form-row">                            
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label">{{'search.load-personalization' | translate}}</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <select class="form-control" name="personalization" id="personalization" ng-model="personalization" ng-options="personalization.person_name for personalization in personalizations track by personalization.id">                              
                                </select>           
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <button class="btn btn-primary" type="submit" name="save">{{'search.load' | translate }}</button>                          
                            </div>  
                        </div>                    
                    </form>
                    
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'search.operations' | translate}}
                </div>
                <div class="panel-body">
                    <button class="btn btn-primary" type="button" ng-click="clearSearchParams()">{{'search.clear-forms' | translate }}</button>
                    <button class="btn btn-success" type="button" ng-click="performSearch()">{{'search.search' | translate }}</button>
                </div>
            </div>
            
        </div>
        
    </div>
</div>
