<div class="container-fluid">
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'std-items.standard-items-management' | translate}}
                </div>
                <div class="panel-body">

                    <button class="btn btn-primary" ng-click="addStdItem($event)">{{'std-items.add-standard-item' | translate}}</button>

                    <button class="btn btn-primary" ng-click="deleteSelected()">{{'std-items.delete-selected' | translate}}</button>

                    <br/><br/>

                    <div ui-grid="stdItemsGridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-selection class="std-items-grid"></div>

                </div>
            </div>

        </div>
    </div>
</div>

