<div class="container-fluid">
    <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div ng-include="'views/components/tamuraDirectory/tamura-directory-data-tree.html'"></div>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" ng-if="entityType == 1000" ng-if="entityViewed && tamuraEntity !== null">
            <div ng-include="'views/components/tamuraDirectory/tamura-directory-design-detail.html'"></div>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" ng-if="entityType == 2000" ng-if="entityViewed && tamuraEntity !== null">
            <div ng-include="'views/components/tamuraDirectory/tamura-directory-factory-detail.html'"></div>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" ng-if="entityType == 3000" ng-if="entityViewed && tamuraEntity !== null">
            <div ng-include="'views/components/tamuraDirectory/tamura-directory-sales-detail.html'"></div>
        </div>

    </div>
</div>