<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'time-sheet-invoice.time-sheet-invoice' | translate}}
                </div>
                <div class="panel-body">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{'time-sheet-invoice.first-step' | translate}}
                        </div>
                        <div class="panel-body">

                            <div class="row">

                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            {{'time-sheet-invoice.sister-companies' | translate}}
                                        </div>
                                        <div class="panel-body">
                                            <div ui-grid="sisterCompaniesGridOptions"  class="std-items-grid"
                                                 ui-grid-edit ui-grid-row-edit ui-grid-cellNav></div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            {{'time-sheet-invoice.customers' | translate}}
                                        </div>
                                        <div class="panel-body">
                                            <div ui-grid="customersGridOptions"  class="std-items-grid"
                                                 ui-grid-edit ui-grid-row-edit ui-grid-cellNav></div>
                                        </div>
                                    </div>


                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            {{'time-sheet-invoice.projects-rfqs' | translate}}
                                        </div>
                                        <div class="panel-body">
                                            <div ui-grid="projectsRfqsGridOptions"  class="std-items-grid"
                                             ui-grid-edit ui-grid-row-edit ui-grid-cellNav></div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>


                </div>

                <div class="panel-body">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{'time-sheet-invoice.second-step' | translate}}
                        </div>
                        <div class="panel-body">

                            <div class="row">

                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            {{'time-sheet-invoice.hours-not-invoiced-yet' | translate}}
                                        </div>
                                        <div class="panel-body">
                                            <div ui-grid="hoursNotInvoicedGridOptions"  class="std-items-grid"
                                                 ui-grid-edit ui-grid-row-edit ui-grid-selection ui-grid-cellNav>

                                            </div>

                                            <br>
                                            <div class="row form-row">
                                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                    <label class="form-label" for="total-hours-selected">
                                                        {{'time-sheet-invoice.total-hours-selected' | translate}}</label>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                    <input type="text" name="total-hours-selected" id="total-hours-selected"
                                                           ng-model="totalHoursSelected" class="form-control form-input" disabled>
                                                </div>
                                        </div>
                                        </div>
                                        <br>
                                    </div>

                                </div>

                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center">
                                    <div class="row">
                                        <button ng-click="moveAllRowsTo('right')" class="btn btn-primary btn-invoice-control">&nbsp;&gt;&gt;&nbsp;</button>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <button ng-click="moveSelectedRowsTo('right')" class="btn btn-primary btn-invoice-control">&nbsp;&gt;&nbsp;</button>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <button ng-click="moveSelectedRowsTo('left')" class="btn btn-primary btn-invoice-control">&nbsp;&lt;&nbsp;</button>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <button ng-click="moveAllRowsTo('left')" class="btn btn-primary btn-invoice-control">&nbsp;&lt;&lt;&nbsp;</button>
                                    </div>
                                    <br/><br/>

                                </div>

                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            {{'time-sheet-invoice.hours-to-invoice' | translate}}
                                        </div>
                                        <div class="panel-body">
                                            <div ui-grid="hoursToInvoicedGridOptions"  class="std-items-grid"
                                                 ui-grid-edit ui-grid-row-edit ui-grid-selection ui-grid-cellNav>

                                            </div>

                                            <br>
                                            <div class="row">
                                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                    <label class="form-label" for="total-hours-invoice">
                                                            {{'time-sheet-invoice.total-hours-to-invoice' | translate}}</label>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                    <input type="text" name="total-hours-invoice" id="total-hours-invoice"
                                                           ng-model="totalHoursInvoice" class="form-control form-input" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>


                </div>

                <div class="panel-body">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{'time-sheet-invoice.third-step' | translate}}
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <form name="generatePdf" ng-submit="createInvoicePdf()">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                {{'time-sheet-invoice.invoice-details' | translate}}
                                            </div>
                                            <div class="panel-body">
                                                <div class="row form-row">
                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                        <label class="form-label" for="dateOfInvoice">
                                                            {{'time-sheet-invoice.date-of-invoice' | translate}}</label>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                        <input type="date" name="dateOfInvoice" id="dateOfInvoice"
                                                               ng-model="dateOfInvoice" class="form-control form-input" required>
                                                    </div>
                                                </div>

                                                <div class="row form-row">
                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                        <label class="form-label" for="invoiceNumber">
                                                            {{'time-sheet-invoice.invoice-number' | translate}}</label>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                        <input type="number" name="invoiceNumber" id="invoiceNumber"
                                                               ng-model="invoiceNumber" class="form-control form-input"
                                                               required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                {{'time-sheet-invoice.actions' | translate}}
                                            </div>
                                            <div class="panel-body">
                                                <div class="row form-row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <button class="btn btn-primary" type="submit" >
                                                            {{'time-sheet-invoice.generate-pdf' | translate }}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
</div>

