<md-dialog class="tamura-dialog" ng-cloak>

    <md-toolbar class="tamura-dialog-toolbar">
        <div class="md-toolbar-tools">
            {{ 'add-currency-dialog.add-currency' | translate }}
        </div>
    </md-toolbar>

    <md-dialog-content class="tamura-dialog-content">

        <form name="addCurrencyForm">

            <div class="row form-row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label class="form-label" for="long_name">{{'add-currency-dialog.long-name' | translate}}</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input required type="text" name="long_name" id="long_name" ng-model="currency.long_name" class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label class="form-label" for="short_name">{{'add-currency-dialog.short-name' | translate}}</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input required type="text" name="short_name" id="short_name" ng-model="currency.short_name" class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label class="form-label" for="symbol">{{'add-currency-dialog.symbol' | translate}}</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input required type="text" name="symbol" id="symbol" ng-model="currency.symbol" class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label class="form-label" for="exch_rate">{{'add-currency-dialog.exch-rate' | translate}}</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input required type="text" name="exch_rate" id="exch_rate" ng-model="currency.exch_rate" class="form-control form-input">
                </div>
            </div>

        </form>

    </md-dialog-content>

    <md-dialog-actions class="" layout="row">

        <span flex></span>

        <button class="btn btn-danger" ng-click="cancel()">
            {{ 'add-currency-dialog.cancel' | translate }}
        </button>
        &nbsp;&nbsp;&nbsp;
        <button class="btn btn-success" ng-click="addCurrency()">
            {{ 'add-currency-dialog.save' | translate }}
        </button>

    </md-dialog-actions>

</md-dialog>
