<md-dialog class="tamura-dialog" ng-cloak>

    <md-toolbar class="tamura-dialog-toolbar">
        <div class="md-toolbar-tools">
            {{ 'rfq-specification-dialog.manage-specifications' | translate }}
        </div>
    </md-toolbar>

    <md-dialog-content class="tamura-dialog-content">

        <flash-message
                duration="5000"
                show-close="true"
        ></flash-message>

        <button class="btn btn-primary" ng-click="addSpecification($event)">{{'rfq-specification-dialog.add-specification' | translate}}</button>

        <button class="btn btn-primary" ng-click="deleteSelectedSpecification()">{{'rfq-specification-dialog.delete-selected-specification' | translate}}</button>

        <br/><br/>

        <div ui-grid="specificationsGridOptions" class="rfq-specifications-grid" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-selection></div>


    </md-dialog-content>

    <md-dialog-actions class="" layout="row">

        <span flex></span>

        <button class="btn btn-primary" ng-click="cancel()">
            {{ 'rfq-specification-dialog.close' | translate }}
        </button>

    </md-dialog-actions>

</md-dialog>
