/** CUSTOM STYLE SHEETS **/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body,html{
    height: initial !important;
    position: initial !important;
}

.login-pg{
    height:100vh;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



#top{
    display:block;
    width:100%;
    background-color:#d6cdcd;
    padding:15px 15px;
    color:#000;
    font-family: 'Open Sans', sans-serif;
}

.logo-img{
    height:60px;
    width:auto;
}

.top-heading{
    font-weight:700;
    color:#0b3f78;
}

@media(min-width:768px){
    .top-heading{
        padding:20px 15px;
        font-size:32px;
    }
}
@media(max-width:767px){        
    .top-heading{
        padding:25px 15px;
        font-size:24px;
        line-height:1.3;
    }
}

#menu{
    display:block;
    width:100%;
    color:#000;
    font-family: 'Open Sans', sans-serif;
}

.navbar-top{
    border-radius:0px;
    border-top:1px solid #999999;
    font-size:15px;
    font-weight: 600;
}

.navbar-top li:hover{
    color: #555;
    background-color: #e7e7e7;
}

.login-box{
   display:block;
   font-family: 'Open Sans', sans-serif;
}

@media(min-width:768px){
    .login-box{
        margin-top:200px;
     }
}

.login-heading{
    font-weight: 700;
    line-height:1.5;
    padding:5px 0px;
    font-size:18px;
}

#content{
    font-family: 'Open Sans', sans-serif;
}

.text-center{
    text-align:center;
}

@media(min-width:768px){
    .text-right-wide{
        text-align:right;
    }
}

.clearfix{
    clear:both;
}

.panel-heading{
    font-weight: 700;
}

.form-row-empty{
    padding:10px 0px;
}

.form-row div{
    margin-top:2px;
    margin-bottom:2px;
}

.div-checkboxes{
    padding-top:5px;
}

.form-label{
    font-weight: 600;
    padding:10px 0px;
    font-size:14px;
}

.form-label-required{
    font-weight:700;
    text-decoration: underline;
}

.form-input{
    font-family: 'Open Sans', sans-serif;
}

.checkbox-inline-label{
    font-size:15px;
    margin-right:15px;
}

.checkbox-inline-label input[type=checkbox]{
    position:relative;
    margin-right:5px;
    vertical-align: baseline;
}

.btn-inline{
    display:inline-block;
    float:left;
    margin:0px 2px;
}

.form-info{
    display:block;
    font-size:14px;
    color:#aaaaaa;
    font-style:italic;
    padding:10px 0px;
}

md-autocomplete{
    min-width:initial !important;
}

.std-items-grid,
.material-grid{
    width:100%;
    height:calc(100vh - 320px);
    border-radius:5px !important;
}


.ui-grid-header-cell-label,
.ui-grid-cell-contents{
    font-size:12px;
}

.ui-grid-grid-footer{
    padding:9px;
    font-size:12px;
}


.ui-grid-disable-selection{
    height:30px;
    padding: 4px 0px;
}

@media(min-width: 768px){
    .tamura-dialog{
        width:60%;
    }

}

@media(max-width: 767px){
    .tamura-dialog{
        width:90%;
    }

}


.text-center{
    text-align: center;
}
.user-dialog{
    position: fixed;
    top: 20%;
}

.tamura-dialog-toolbar{
    font-family: 'Open Sans', sans-serif;
    background-color: #d6cdcd !important;
    color: #555 !important;
}

.tamura-dialog-content{
    padding:15px !important;
    font-family: 'Open Sans', sans-serif !important;
}

md-autocomplete{
    width: 100%;
    height: 37px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: none;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
}

md-autocomplete input{
    font-family: 'Open Sans', sans-serif !important;
    padding:0px 15px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
    height: 34px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
}

md-autocomplete-wrap{
    height: 34px !important;
    font-family: 'Open Sans', sans-serif !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 4px !important;
}

md-autocomplete-wrap *,
md-virtual-repeat-container{
    font-family: 'Open Sans', sans-serif !important;
}

md-autocomplete button md-icon{
    top:16px !important;
}

.checkbox-label-info{
    font-size: 14px;
    color: #aaaaaa;
    font-style: italic;
}

#loader{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    bottom:0;
    left : 0;
    right : 0;
    background-image:url('/img/gears.svg');
    background-position:center center;
    background-repeat:no-repeat;
    z-index:999;
}

.flash-messages{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
}

.tree-node{
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
    cursor: pointer;
}

.tree-node-content{
        margin: 3px;
}

.angular-ui-tree-handle {
    cursor: pointer !important;
}

.angular-ui-tree-handle.project {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}

.angular-ui-tree-handle.project:hover{
    background: #f1f3f8;
    color: #6a8a9c;
}

.angular-ui-tree-handle.group {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}

.angular-ui-tree-handle.group:hover{
    background: #f1f3f8;
    color: #6a8a9c;
}

.angular-ui-tree-handle.rfq {
    border: 1px solid #c5cdd4;
    background: #dfe4f1;
    color: #6c8fa4;
}

.angular-ui-tree-handle.rfq:hover{
    background: #d7dce8;
    color: #5e7e90;
}

.angular-ui-tree-handle.company {
    border: 1px solid #c5cdd4;
    background: #dfe4f1;
    color: #6c8fa4;
}

.angular-ui-tree-handle.company:hover{
    background: #d7dce8;
    color: #5e7e90;
}

.angular-ui-tree-handle.npi {
    border: 1px solid #b9c1c8;
    background: #cfd5e7;
    color: #5e8196;
}

.angular-ui-tree-handle.npi:hover{
    background: #bfc3d0;
    color: #507082;
}

.angular-ui-tree-handle.sale {
    border: 1px solid #b9c1c8;
    background: #cfd5e7;
    color: #5e8196;
}

.angular-ui-tree-handle.sale:hover{
    background: #c3cada;
    color: #507082;
}

.tree-node-collapse-btn{
    margin-right:15px;
    float:left;
    margin: 6px 15px 6px 10px;
}

.tree-node-collapse-btn.uncollapsed{
    padding: 2px 5px 0px 5px;
}

.tree-node-title{
    display:block;
    width:100%;
    height:100%;
    padding: 7px 10px;
    font-size:11pt;
}

.project-status-button{
    font-weight:700;
    font-size:17px;
}
.project-status-button.project-button {
    cursor: initial;
    border-radius: inherit;
}
.project-status-button.project-button:focus, .project-status-button.project-button:hover {
    text-decoration: none;
}

.data-sheet-textarea{
    min-height:150px;
    resize: none;
}

.input-group{
    margin:0 !important;
}

.status-label{
    display: inline-block;
    width:100%;
    padding:10px 15px;
    font-size:16px;
    text-transform: uppercase;
}

.btn-full-width{
    width:100%;
}

.text-center{
    text-align:center;
}

.currencyinput {
    border: 1px inset #ccc;
}
.currencyinput input {
    border: 0;
}

.rfq-materials-grid{
    height:300px;
}

.rfq-timesheets-grid{
    height:250px;
}

.db-users-grid{
    height: 550px;
}

.padding-5px{
    padding: 5px 5px;
}
.padding-0px{
    padding: 0px;
}
.padding-right-15px{
    padding-right: 15px;
}

.underline{
    text-decoration: underline;
}
/********************************************************************/
/*** PANEL WITH NAV TABS ***/

.panel.with-nav-tabs .panel-heading.with-nav-tabs{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}
/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
	background-color: #ddd;
	border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	color: #555;
	background-color: #fff;
	border-color: #ddd;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}
/********************************************************************/
/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #3071a9;
	border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
	color: #428bca;
	background-color: #fff;
	border-color: #428bca;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;   
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}
/********************************************************************/
/*** PANEL SUCCESS ***/
.with-nav-tabs.panel-success .nav-tabs > li > a,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
	color: #3c763d;
}
.with-nav-tabs.panel-success .nav-tabs > .open > a,
.with-nav-tabs.panel-success .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-success .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
	color: #3c763d;
	background-color: #d6e9c6;
	border-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.active > a,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:focus {
	color: #3c763d;
	background-color: #fff;
	border-color: #d6e9c6;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #3c763d;   
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #3c763d;
}
/********************************************************************/
/*** PANEL INFO ***/
.with-nav-tabs.panel-info .nav-tabs > li > a,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
	color: #31708f;
}
.with-nav-tabs.panel-info .nav-tabs > .open > a,
.with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
	color: #31708f;
	background-color: #bce8f1;
	border-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.active > a,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
	color: #31708f;
	background-color: #fff;
	border-color: #bce8f1;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #31708f;   
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #31708f;
}
/********************************************************************/
/*** PANEL WARNING ***/
.with-nav-tabs.panel-warning .nav-tabs > li > a,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
	color: #8a6d3b;
}
.with-nav-tabs.panel-warning .nav-tabs > .open > a,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
	color: #8a6d3b;
	background-color: #faebcc;
	border-color: transparent;
}
.with-nav-tabs.panel-warning .nav-tabs > li.active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:focus {
	color: #8a6d3b;
	background-color: #fff;
	border-color: #faebcc;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #8a6d3b; 
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #faebcc;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #8a6d3b;
}
/********************************************************************/
/*** PANEL DANGER ***/
.with-nav-tabs.panel-danger .nav-tabs > li > a,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
	color: #a94442;
}
.with-nav-tabs.panel-danger .nav-tabs > .open > a,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
	color: #a94442;
	background-color: #ebccd1;
	border-color: transparent;
}
.with-nav-tabs.panel-danger .nav-tabs > li.active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:focus {
	color: #a94442;
	background-color: #fff;
	border-color: #ebccd1;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f2dede; /* bg color */
    border-color: #ebccd1; /* border color */
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #a94442; /* normal text color */  
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ebccd1; /* hover bg color */
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff; /* active text color */
    background-color: #a94442; /* active bg color */
}