<md-dialog class="tamura-dialog" ng-cloak>

    <md-toolbar class="tamura-dialog-toolbar">
        <div class="md-toolbar-tools">
            {{ 'rfq-manage-time-sheet-dialog.time-sheet-management' | translate }}
        </div>
    </md-toolbar>

    <md-dialog-content class="tamura-dialog-content">

        <flash-message
                duration="5000"
                show-close="true"
        ></flash-message>

        <br/><br/>

        <div ui-grid="timeSheetsGridOptions" class="rfq-timesheets-grid"></div>

        <br/><br/>

        <div class="row">
            <div class="col-lg-2 col-lg-offset-8 col-md-2 col-md-offset-8 col-sm-4 col-sm-offset-4 col-xs-12">
                <label class="form-label">{{'rfq-manage-time-sheet-dialog.total-hours' | translate}}:</label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <label class="form-label">{{totalHours}}</label>
            </div>
        </div>

        <hr>

        <form name="addTimeSheetForm">
            <div class="row form-row">
                <div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-3 col-xs-12">
                    <label class="form-label" for="date">{{'rfq-manage-time-sheet-dialog.date' | translate}}</label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <input type="text" name="date" id="date" ng-model="timeSheet.date" class="form-control form-input" required>
                    <script type="text/javascript">
                        $('#date').datepicker();
                    </script>
                </div>

            </div>
            <div class="row form-row">

                <div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-3 col-xs-12">
                    <label class="form-label" for="tamuraEngineer">{{'rfq-manage-time-sheet-dialog.tamura-engineer' | translate}}</label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <md-autocomplete
                            required
                            id="tamuraEngineer"
                            md-no-cache="true"
                            md-selected-item="timeSheet.tamuraEngineer"
                            md-search-text="tamuraEngineerSearchText"
                            md-search-text-change="tamuraEngineerSearchTextChange(tamuraEngineerSearchText)"
                            md-items="e in tamuraEngineers"
                            md-item-text="e.name"
                            md-min-length="0"
                            placeholder="{{'rfq-manage-time-sheet-dialog.select-tamura-engineer' | translate}}"
                    >
                        <md-item-template>
                            <span md-highlight-text="tamuraEngineerSearchText" md-highlight-flags="^i">{{e.name}}</span>
                        </md-item-template>
                </div>

            </div>
            <div class="row form-row">

                <div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-3 col-xs-12">
                    <label class="form-label" for="action">{{'rfq-manage-time-sheet-dialog.action' | translate}}</label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <select class="form-control" name="action" id="action" ng-model="timeSheet.action" required>
                        <option ng-repeat="action in actions" ng-value="action.value">{{action.text}}</option>
                    </select>
                </div>

            </div>
            <div class="row form-row">

                <div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-3 col-xs-12">
                    <label class="form-label" for="hours">{{'rfq-manage-time-sheet-dialog.hours' | translate}}</label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <input type="number" name="hours" id="hours" ng-model="timeSheet.hours" class="form-control form-input" required>
                </div>

            </div>

            <div class="row form-row">

                <div class="col-lg-3 col-lg-offset-6 col-md-3 col-md-offset-6 col-sm-3 col-sm-offset-6 col-xs-12 text-right">
                    <button class="btn btn-primary" type="submit" ng-click="createTimeSheet()">
                        {{'rfq-manage-time-sheet-dialog.create-time-sheet' | translate}}
                    </button>
                </div>

            </div>

        </form>

    </md-dialog-content>

    <md-dialog-actions class="" layout="row">

        <span flex></span>

        <button class="btn btn-primary" ng-click="cancel()">
            {{ 'rfq-manage-time-sheet-dialog.close' | translate }}
        </button>

    </md-dialog-actions>

</md-dialog>
