<md-dialog class="tamura-dialog" ng-cloak>

    <md-toolbar class="tamura-dialog-toolbar">
        <div class="md-toolbar-tools">
            {{ 'new-rfq-specification-dialog.new-rfq-specification' | translate }}
        </div>
    </md-toolbar>

    <md-dialog-content class="tamura-dialog-content">

        <form name="newStdItemForm" enctype="multipart/form-data">

            <input type="hidden" name="rfq_id" id="rfq_id" ng-model="specification.rfq_id"  class="form-control form-input">

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="label">{{ 'new-rfq-specification-dialog.reference' | translate }}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <input type="text" name="label" id="label" ng-model="newRfqSpecification.label"  class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="version">{{ 'new-rfq-specification-dialog.version' | translate }}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <input type="text" name="version" id="version" ng-model="newRfqSpecification.version"  class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="file">{{ 'new-rfq-specification-dialog.specification-doc' | translate }}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <input type="file" ngf-select ngf-model-invalid="errorFile" name="file" id="file" ng-model="file"  class="form-control form-input">
                </div>
            </div>


            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="status">{{ 'new-rfq-specification-dialog.active-doc' | translate }}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 div-checkboxes">
                    <input type="checkbox" name="status" id="status" ng-model="newRfqSpecification.status"  class=" form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="master">{{ 'new-rfq-specification-dialog.master-doc' | translate }}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 div-checkboxes">
                    <input type="checkbox" name="master" id="master" ng-model="newRfqSpecification.master"  class=" form-input">
                </div>
            </div>


        </form>

    </md-dialog-content>

    <md-dialog-actions class="" layout="row">

        <span flex></span>

        <button class="btn btn-danger" ng-click="cancel()">
            {{ 'new-rfq-specification-dialog.cancel' | translate }}
        </button>
        &nbsp;&nbsp;
        <button class="btn btn-success" ng-click="saveRfqSpecification(file)">
            {{ 'new-rfq-specification-dialog.save' | translate }}
        </button>

    </md-dialog-actions>

</md-dialog>
