<md-dialog class="tamura-dialog user-dialog" ng-cloak>

    <md-toolbar class="tamura-dialog-toolbar">
        <div class="md-toolbar-tools">
            {{ 'db-user-dialog.edit-user' | translate }}
        </div>
    </md-toolbar>


    <md-dialog-content class="tamura-dialog-content">

        <form name="editUserForm" enctype="multipart/form-data">

            <input type="hidden" name="rfq_id" id="rfq_id" ng-model="specification.rfq_id"  class="form-control form-input">

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="user">{{ 'admin.user' | translate }}</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input type="text" name="user" id="user" ng-model="user.name" class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="email">{{ 'admin.email' | translate }}</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input type="text" name="email" id="email" ng-model="user.email" class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="userName">{{ 'admin.user-name' | translate }}</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input type="text" name="userName" id="userName" ng-model="user.username" class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="deactivated">{{ 'admin.deactivated' | translate }}</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input type="checkbox" name="deactivated" id="deactivated" ng-model="user.deactivated" class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="role">{{ 'admin.role' | translate }}</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <select required class="form-control" id="role" name="role"
                            ng-options="role.display_name for role in roles track by role.id" ng-model="user.role">
                    </select>
                </div>
            </div>

        </form>

    </md-dialog-content>

    <md-dialog-actions class="" layout="row">

        <span flex></span>

        <button class="btn btn-danger" ng-click="cancel()">
            {{ 'rfq-material-dialog.cancel' | translate }}
        </button>
        &nbsp;&nbsp;
        <button class="btn btn-success" ng-click="editUser()">
            {{ 'rfq-material-dialog.edit' | translate }}
        </button>

    </md-dialog-actions>

</md-dialog>
