<md-dialog class="tamura-dialog" ng-cloak>

    <md-toolbar class="tamura-dialog-toolbar">
        <div class="md-toolbar-tools">
            {{ 'db-user-dialog.add-db-user' | translate }}
        </div>
    </md-toolbar>

    <md-dialog-content class="tamura-dialog-content">

        <form name="addDbUserForm" autocomplete="off">

            <div class="row form-row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label class="form-label">{{'db-user-dialog.tamura-entity' | translate}}</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 div-checkboxes">
                    <md-autocomplete
                            required
                            md-no-cache="true"
                            md-selected-item="dbUser.tamuraEntity"
                            md-search-text="tamuraEntitySearchText"
                            md-search-text-change="tamuraEntitySearchTextChange(tamuraEntitySearchText)"
                            md-items="t in tamuraEntities"
                            md-item-text="t.name"
                            md-min-length="0"
                            placeholder="{{'db-user-dialog.select-tamura-entity' | translate}}"
                    >
                        <md-item-template>
                            <span md-highlight-text="tamuraEntitySearchText" md-highlight-flags="^i">{{t.name}}</span>
                        </md-item-template>
                    </md-autocomplete>
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label class="form-label" for="name">{{'db-user-dialog.name' | translate}}</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <input required type="text" name="name" id="name" ng-model="dbUser.name" class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label class="form-label" for="email">{{'db-user-dialog.email' | translate}}</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <input autocomplete="off" required type="text" name="email" id="email" ng-model="dbUser.email" ng-change="checkEmailExists()" class="form-control form-input">
                </div>
                <div class="col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-5 col-xs-12" ng-if="emailExists">
                    <span class="label label-danger">{{'db-user-dialog.email-already-exists' | translate}}</span>
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label class="form-label" for="login">{{'db-user-dialog.login' | translate}}</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <input autocomplete="off" required type="text" name="login" id="login" ng-model="dbUser.login" class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label class="form-label" for="name">{{'db-user-dialog.password' | translate}}</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <input autocomplete="off" required type="password" name="password" id="password" ng-model="dbUser.password" class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label class="form-label">{{'db-user-dialog.deactivated' | translate}}</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 div-checkboxes">
                    <input type="checkbox" ng-model="dbUser.deactivated">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label class="form-label" for="role">{{ 'admin.role' | translate }}</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <select required class="form-control" id="role" name="role"
                            ng-options="role.display_name for role in roles track by role.id" ng-model="dbUser.role">
                    </select>
                </div>
            </div>


        </form>

    </md-dialog-content>

    <md-dialog-actions class="" layout="row">

        <span flex></span>

        <button class="btn btn-danger" ng-click="cancel()">
            {{ 'db-user-dialog.cancel' | translate }}
        </button>
        &nbsp;&nbsp;&nbsp;
        <button class="btn btn-success" ng-click="addDbUser()" ng-disabled="emailExists">
            {{ 'db-user-dialog.save' | translate }}
        </button>

    </md-dialog-actions>

</md-dialog>
