<md-dialog class="tamura-dialog" ng-cloak>

    <md-toolbar class="tamura-dialog-toolbar">
        <div class="md-toolbar-tools">
            {{ 'change-person-customer-dialog.change-persons-customer' | translate }}
        </div>
    </md-toolbar>

    <md-dialog-content class="tamura-dialog-content">

        <form name="changePersonCustomerForm">

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="customer">{{'change-person-customer-dialog.select-customer' | translate}}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <md-autocomplete
                            id="customer"
                            md-no-cache="true"
                            md-selected-item="customer"
                            md-search-text="customerSearchText"
                            md-search-text-change="customerSearchTextChange(customerSearchText)"
                            md-items="c in customers"
                            md-item-text="c.name"
                            md-min-length="0"
                            placeholder="{{'change-person-customer-dialog.select-customer' | translate}}"
                    >
                        <md-item-template>
                            <span md-highlight-text="customerSearchText" md-highlight-flags="^i">{{c.name}}</span>
                        </md-item-template>
                    </md-autocomplete>
                </div>
            </div>



        </form>

    </md-dialog-content>

    <md-dialog-actions class="" layout="row">

        <span flex></span>

        <button class="btn btn-danger" ng-click="cancel()">
            {{ 'change-person-customer-dialog.cancel' | translate }}
        </button>
        &nbsp;&nbsp;&nbsp;
        <button class="btn btn-success" ng-click="changePersonCustomer()">
            {{ 'change-person-customer-dialog.save' | translate }}
        </button>

    </md-dialog-actions>

</md-dialog>
