<md-dialog class="tamura-dialog user-dialog" ng-cloak>

    <md-toolbar class="tamura-dialog-toolbar">
        <div class="md-toolbar-tools">
            {{ 'customer-directory.add-person' | translate }}
        </div>
    </md-toolbar>


    <md-dialog-content class="tamura-dialog-content">

        <form name="addPersonForm" enctype="multipart/form-data">

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="name">{{ 'customer-directory.person-name' | translate }}</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input type="text" name="name" id="name" ng-model="person.name" class="form-control form-input" placeholder="Person name">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="phone">{{ 'customer-directory.phone' | translate }}</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input type="text" name="phone" id="phone" ng-model="person.phone" class="form-control form-input" placeholder="Person phone">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="mobile">{{ 'customer-directory.mobile' | translate }}</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input type="text" name="mobile" id="mobile" ng-model="person.mobile" class="form-control form-input" placeholder="Person mobile">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="email">{{ 'customer-directory.email' | translate }}</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input type="text" name="email" id="email" ng-model="person.email" class="form-control form-input" placeholder="Person email">
                </div>
            </div>

            <div class="row form-row" ng-if="isCustomerDirectory">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="purchaseManager">{{ 'customer-directory.purchase-manager' | translate }}</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input type="checkbox" name="purchaseManager" id="purchaseManager" ng-model="person.purchaseManager" class="form-control form-input">
                </div>
            </div>

            <div class="row form-row" ng-if="!isCustomerDirectory">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="saleManager">{{ 'customer-directory.sale-manager' | translate }}</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input type="checkbox" name="saleManager" id="saleManager" ng-model="person.saleManager" class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="engineer">{{ 'customer-directory.engineer' | translate }}</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input type="checkbox" name="engineer" id="engineer" ng-model="person.engineer" class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="deactivated">{{ 'customer-directory.deactivated' | translate }}</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input type="checkbox" name="deactivated" id="deactivated" ng-model="person.deactivated" class="form-control form-input">
                </div>
            </div>

        </form>

    </md-dialog-content>

    <md-dialog-actions class="" layout="row">

        <span flex></span>

        <button class="btn btn-danger" ng-click="cancel()">
            {{ 'rfq-material-dialog.cancel' | translate }}
        </button>
        &nbsp;&nbsp;
        <button class="btn btn-success" ng-click="addPerson()">
            {{ 'customer-directory.add-person' | translate }}
        </button>

    </md-dialog-actions>

</md-dialog>
