<md-dialog class="tamura-dialog" ng-cloak>

    <md-toolbar class="tamura-dialog-toolbar">
        <div class="md-toolbar-tools">
            {{ 'rfq-change-project-dialog.change-rfq-project' | translate }}
        </div>
    </md-toolbar>

    <md-dialog-content class="tamura-dialog-content">

        <form name="changeRfqProjectForm">

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="project">{{'rfq-change-project-dialog.project' | translate}}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">

                    <md-autocomplete
                            id="project"
                            md-no-cache="true"
                            md-selected-item="project"
                            md-search-text="projectSearchText"
                            md-search-text-change="projectSearchTextChange(projectSearchText)"
                            md-items="p in projects"
                            md-item-text="'['+p.id+']['+p.status+'] '+p.name"
                            md-min-length="0"
                            placeholder="{{'rfq-change-project-dialog.select-project' | translate}}"
                    >
                        <md-item-template>
                            <span md-highlight-text="projectSearchText" md-highlight-flags="^i">{{'['+p.id+']['+p.status+'] '+p.name}}</span>
                        </md-item-template>
                    </md-autocomplete>

                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-sm alert-danger">
                        {{'rfq-change-project-dialog.warning' | translate}}
                    </div>
                </div>
            </div>

        </form>

    </md-dialog-content>

    <md-dialog-actions class="" layout="row">

        <span flex></span>

        <button class="btn btn-danger" ng-click="cancel()">
            {{ 'rfq-change-project-dialog.cancel' | translate }}
        </button>
        &nbsp;&nbsp;&nbsp;
        <button class="btn btn-success" ng-click="changeRfqProject()">
            {{ 'rfq-change-project-dialog.save' | translate }}
        </button>

    </md-dialog-actions>

</md-dialog>
