<md-dialog class="tamura-dialog" ng-cloak>

    <md-toolbar class="tamura-dialog-toolbar">
        <div class="md-toolbar-tools">
            {{ 'mail-to-person-dialog.send-mail-to-person' | translate }}
        </div>
    </md-toolbar>

    <md-dialog-content class="tamura-dialog-content">

        <form name="mailToPersonForm">

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="subject">{{'mail-to-person-dialog.subject' | translate}}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <input class="form-control" type="text" id="subject" required name="subject" ng-model="subject" placeholder="{{'mail-to-person-dialog.enter-subject' | translate}}">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="text">{{'mail-to-person-dialog.text' | translate}}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <textarea class="form-control"  id="text" required name="text" ng-model="text" placeholder="{{'mail-to-person-dialog.enter-text' | translate}}"></textarea>
                </div>
            </div>

        </form>

    </md-dialog-content>

    <md-dialog-actions class="" layout="row">

        <span flex></span>

        <button class="btn btn-danger" ng-click="cancel()">
            {{ 'mail-to-person-dialog.cancel' | translate }}
        </button>
        &nbsp;&nbsp;&nbsp;
        <button class="btn btn-success" ng-click="sendMailToPerson()">
            {{ 'mail-to-person-dialog.save' | translate }}
        </button>

    </md-dialog-actions>

</md-dialog>
