<md-dialog class="tamura-dialog" ng-cloak>
    <md-toolbar class="tamura-dialog-toolbar">
        <div class="md-toolbar-tools">
            {{ 'new-material-dialog.new-material' | translate }}
        </div>
    </md-toolbar>

    <md-dialog-content class="tamura-dialog-content">

            <form name="addMaterialForm">
                <div class="form-row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="form-label" for="type">{{'new-material-dialog.type' | translate}}</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <input type="text" name="type" id="type" ng-model="material.type" class="form-control form-input">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="form-label" for="part-no">{{'new-material-dialog.part-no' | translate}}</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-3 col-xs-12">
                        <input type="text" name="part-no" id="part-no" ng-model="material.partNo" class="form-control form-input">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="form-label" for="description">{{'new-material-dialog.description' | translate}}</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <input type="text" name="description" id="description" ng-model="material.description" class="form-control form-input">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="form-label" for="unitary-price">{{'new-material-dialog.unitary-price' | translate}}</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <input type="number" step="0.01" name="unitary-price" id="unitary-price" ng-model="material.unitaryPrice" class="form-control form-input">
                    </div>
                </div>
            </form>

    </md-dialog-content>

    <md-dialog-actions class="" layout="row">

        <span flex></span>

        <button class="btn btn-danger" ng-click="cancel()">
            {{ 'new-material-dialog.cancel' | translate }}
        </button>
        &nbsp;&nbsp;&nbsp;
        <button class="btn btn-success" ng-click="saveMaterial()">
            {{ 'new-material-dialog.save' | translate }}
        </button>

    </md-dialog-actions>
</md-dialog>
