<div class="panel panel-default">
    <div class="panel-heading">
        {{'tamura-directory.sales-office' | translate}} - {{tamuraEntity.name}}
    </div>
    <div class="panel-body">

        <div class="row form-row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button class="btn btn-primary" ng-click="deleteTamuraEntity(tamuraEntity.id)">{{'tamura-directory.delete' | translate}}</button>
            </div>
        </div>


        <form name="entityForm" ng-submit="saveEntity()">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row form-row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label class="form-label">{{tamuraEntity.short_name}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label class="form-label">{{tamuraEntity.name}}</label>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label class="form-label" for="location">{{'tamura-directory.location' | translate}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <select name="location" id="location" ng-model="tamuraEntity.locationName" class="form-control form-input">
                                <option ng-repeat="country in countries" >{{country.name}}</option>
                            </select>
                            <!--<input type="text" name="location" id="location" ng-model="$parent.project.name" class="form-control form-input">-->
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label class="form-label" for="mail">{{'tamura-directory.mail' | translate}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="mail" id="mail" ng-model="tamuraEntity.mail" class="form-control form-input">
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label class="form-label" for="deactivated">{{'tamura-directory.deactivated' | translate}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <input type="checkbox" parse-int ng-true-value="1" ng-false-value="0"
                                   name="deactivated" id="deactivated" ng-model="tamuraEntity.deactivated" >
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <button class="btn btn-primary" type="submit">
                                {{'tamura-directory.save' | translate}}
                            </button>
                        </div>
                    </div>


                </div>
            </div>
        </form>

        <form name="entityForm" ng-submit="saveSalesValues()">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row form-row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label class="form-label">{{'tamura-directory.default-values' | translate}}</label>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <label class="form-label" for="salesCurrency">{{'tamura-directory.currency' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <select name="salesCurrency" id="salesCurrency" ng-model="tamuraEntity.currency_id" class="form-control form-input"
                                    ng-options="currency for currency in allCurrenciesShortNames" ng-change="changeCurrency(tamuraEntity.currency_id)">
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <label class="form-label" for="salesFOB">{{'tamura-directory.fob-change' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="input-group">
                                <input type="number" step="any" name="salesFOB" id="salesFOB" ng-model="tamuraEntity.fob_charge" class="form-control form-input" >
                                <div class="input-group-addon">
                                    {{currencySymbol}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-6 col-md-6"></div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <label class="form-label" for="salesFreight">{{'tamura-directory.freight' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="input-group">
                                <input type="number" step="any" name="salesFreight" id="salesFreight" ng-model="tamuraEntity.freight"
                                       class="form-control form-input">
                                <div class="input-group-addon">
                                    {{currencySymbol}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-6 col-md-6"></div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <label class="form-label" for="salesTerminal">{{'tamura-directory.terminal' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="input-group">
                                <input type="number" step="any" name="salesTerminal" id="salesTerminal" ng-model="tamuraEntity.terminal_handling"
                                       class="form-control form-input">
                                <div class="input-group-addon">
                                    {{currencySymbol}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-6 col-md-6"></div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <label class="form-label" for="salesOrder">{{'tamura-directory.delivery-order' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="input-group">
                                <input type="number" step="any" name="salesOrder" id="salesOrder" ng-model="tamuraEntity.delivery_order"
                                       class="form-control form-input">
                                <div class="input-group-addon">
                                    {{currencySymbol}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <label class="form-label" for="salesProfit">{{'tamura-directory.profit' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="input-group">
                                <input type="number" step="any"  min="0" max="100" name="salesProfit" id="salesProfit" ng-model="tamuraEntity.profit"
                                       class="form-control form-input">
                                <div class="input-group-addon">
                                    {{currencySymbol}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <label class="form-label" for="salesCustoms">{{'tamura-directory.customs-clearance' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="input-group">
                                <input type="number" step="any" name="salesCustoms" id="salesCustoms" ng-model="tamuraEntity.customs_clearance"
                                       class="form-control form-input">
                                <div class="input-group-addon">
                                    {{currencySymbol}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-6 col-md-6"></div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <label class="form-label" for="salesHaulage">{{'tamura-directory.haulage' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="input-group">
                                <input type="number" step="any" name="salesHaulage" id="salesHaulage" ng-model="tamuraEntity.haulage_to_warehouse"
                                       class="form-control form-input">
                                <div class="input-group-addon">
                                    {{currencySymbol}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-6 col-md-6"></div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <label class="form-label" >{{'tamura-directory.teu-group' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <input type="radio" ng-model="tamuraEntity.teu" ng-value="0" class="form-input">
                            <input type="radio" ng-model="tamuraEntity.teu" ng-value="1" class="form-input">
                        </div>
                    </div>

                    <div class="row form-row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <button class="btn btn-primary" type="submit">
                                {{'tamura-directory.save' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>


        <div class="panel panel-default">

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <button class="btn btn-primary" ng-click="lock()">{{lockText}}</button>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <button class="btn btn-primary" ng-click="addCustomerForDirectory($event)">{{'customer-directory.add-person' | translate}}</button>
                    </div>
                </div>
                <br/><br/>

                <div ui-grid="entityPersonsGridOptions" class="std-items-grid" ui-grid-edit ui-grid-selection ui-grid-row-edit ui-grid-cellNav></div>

            </div>
        </div>
    </div>
</div>