<div class="panel panel-default">
    <div class="panel-heading">
        {{'tamura-directory.factory' | translate}} - {{tamuraEntity.name}}
    </div>
    <div class="panel-body">

        <div class="row form-row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button class="btn btn-primary" ng-click="deleteTamuraEntity(tamuraEntity.id)">{{'tamura-directory.delete' | translate}}</button>
            </div>
        </div>


        <form name="entityForm" ng-submit="saveEntity()">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row form-row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label class="form-label">{{tamuraEntity.short_name}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label class="form-label">{{tamuraEntity.name}}</label>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label class="form-label" for="location">{{'tamura-directory.location' | translate}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <select name="location" id="location" ng-model="tamuraEntity.locationName" class="form-control form-input">
                                <option ng-repeat="country in countries" >{{country.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label class="form-label" for="mail">{{'tamura-directory.mail' | translate}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="mail" id="mail" ng-model="tamuraEntity.mail" class="form-control form-input">
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label class="form-label" for="deactivated">{{'tamura-directory.deactivated' | translate}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <input type="checkbox" parse-int ng-true-value="1" ng-false-value="0"
                                   name="deactivated" id="deactivated" ng-model="tamuraEntity.deactivated" >
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <button class="btn btn-primary" type="submit">
                                {{'tamura-directory.save' | translate}}
                            </button>
                        </div>
                    </div>


                </div>
            </div>
        </form>

        <form name="factoryForm" ng-submit="saveFactoryValues()">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row form-row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label class="form-label">{{'tamura-directory.default-values' | translate}}</label>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label class="form-label" for="factoryCurrency">{{'tamura-directory.currency' | translate}}</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <select name="factoryCurrency" id="factoryCurrency" ng-model="tamuraEntity.currency_id" class="form-control form-input"
                                    ng-options="currency for currency in allCurrenciesShortNames" ng-change="changeCurrency(tamuraEntity.currency_id)">
                            </select>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label class="form-label" for="factoryLabour">{{'tamura-directory.labour-rate' | translate}}</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="input-group">
                                <input type="number" step="any" name="factoryLabour" id="factoryLabour" ng-model="tamuraEntity.labour_rate"
                                       class="form-control form-input">
                                <div class="input-group-addon">
                                    {{currencySymbol}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label class="form-label" for="factoryAdmin">{{'tamura-directory.admin' | translate}}</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="input-group">
                                <input type="number" step="any" min="0" max="100" name="factoryAdmin" id="factoryAdmin" ng-model="tamuraEntity.admin"
                                       class="form-control form-input" >
                                <div class="input-group-addon">
                                    {{'tamura-directory.percent' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label class="form-label" for="factoryFreight">{{'tamura-directory.freight-in-out' | translate}}</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="input-group">
                                <input type="number" step="any"  min="0" max="100" name="factoryFreight" id="factoryFreight" ng-model="tamuraEntity.freight"
                                       class="form-control form-input">
                                <div class="input-group-addon">
                                    {{'tamura-directory.percent' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label class="form-label" for="factoryProfit">{{'tamura-directory.profit' | translate}}</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="input-group">
                                <input type="number" step="any"  min="0" max="100" name="factoryProfit" id="factoryProfit" ng-model="tamuraEntity.profit"
                                       class="form-control form-input">
                                <div class="input-group-addon">
                                    {{'tamura-directory.percent' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label class="form-label" >{{'tamura-directory.manufactured' | translate}}</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <input type="radio" ng-model="tamuraEntity.manufactured_purchased" ng-value="1" >
                            <input type="radio" ng-model="tamuraEntity.manufactured_purchased" ng-value="2" >
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label class="form-label" for="factoryAssociated">{{'tamura-directory.associated' | translate}}</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <select name="factoryAssociated" id="factoryAssociated" ng-model="tamuraEntity.linked_sold" class="form-control form-input"
                                    ng-options="entity.name for entity in tamuraEntities[2].data track by entity.id">
                            </select>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <button class="btn btn-primary" type="submit">
                                {{'tamura-directory.save' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>


        <div class="panel panel-default">

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <button class="btn btn-primary" ng-click="lock()">{{lockText}}</button>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <button class="btn btn-primary" ng-click="addCustomerForDirectory($event)">{{'customer-directory.add-person' | translate}}</button>
                    </div>
                </div>
                <br/><br/>

                <div ui-grid="entityPersonsGridOptions" class="std-items-grid" ui-grid-edit ui-grid-selection ui-grid-row-edit ui-grid-cellNav></div>

            </div>
        </div>
    </div>
</div>