<div class="panel panel-default">
    <div class="panel-heading">
        {{'tamura-directory.design-office' | translate}} - {{tamuraEntity.name}}
    </div>
    <div class="panel-body">

        <div class="row form-row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button class="btn btn-primary" ng-click="deleteTamuraEntity(tamuraEntity.id)">{{'tamura-directory.delete' | translate}}</button>
            </div>
        </div>

        <form name="entityForm" ng-submit="saveEntity()">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row form-row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label class="form-label">{{tamuraEntity.short_name}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label class="form-label">{{tamuraEntity.name}}</label>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label class="form-label" for="location">{{'tamura-directory.location' | translate}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <select name="location" id="location" ng-model="tamuraEntity.locationName" class="form-control form-input">
                                <option ng-repeat="country in countries" >{{country.name}}</option>
                            </select>
                            <!--<input type="text" name="location" id="location" ng-model="$parent.project.name" class="form-control form-input">-->
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label class="form-label" for="mail">{{'tamura-directory.mail' | translate}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="mail" id="mail" ng-model="tamuraEntity.mail" class="form-control form-input">
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label class="form-label" for="deactivated">{{'tamura-directory.deactivated' | translate}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <input type="checkbox" parse-int ng-true-value="1" ng-false-value="0"
                                   name="deactivated" id="deactivated" ng-model="tamuraEntity.deactivated" >
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <button class="btn btn-primary" type="submit">
                                {{'tamura-directory.save' | translate}}
                            </button>
                        </div>
                    </div>


                </div>
            </div>

        </form>

        <div class="panel panel-default">

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <button class="btn btn-primary" ng-click="lock()">{{lockText}}</button>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <button class="btn btn-primary" ng-click="addCustomerForDirectory($event)">{{'customer-directory.add-person' | translate}}</button>
                    </div>
                </div>
                <br/><br/>

                <div ui-grid="entityPersonsGridOptions" class="std-items-grid" ui-grid-edit ui-grid-selection ui-grid-row-edit ui-grid-cellNav></div>

            </div>
        </div>
    </div>
</div>