<div class="panel panel-default">
    <div class="panel-heading">
        {{'tamura-directory.data-tree' | translate}}
    </div>
    <div class="panel-body">
        <div class="row form-row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button class="btn btn-primary" ng-click="expandAll()">{{'tamura-directory.expand-all' | translate}}</button>
                <button class="btn btn-primary" ng-click="collapseAll()">{{'tamura-directory.collapse-all' | translate}}</button>
            </div>
        </div>

        <div class="row form-row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button class="btn btn-primary" ng-click="addTamuraEntity($event, 1000)">{{'tamura-directory.add-design-office' | translate}}</button>
                <button class="btn btn-primary" ng-click="addTamuraEntity($event, 2000)">{{'tamura-directory.add-factory' | translate}}</button>
                <button class="btn btn-primary" ng-click="addTamuraEntity($event, 3000)">{{'tamura-directory.add-sales-office' | translate}}</button>
            </div>
        </div>

        <div ui-tree data-nodrop-enabled="true" data-drag-enabled="false">
            <ol ui-tree-nodes="" ng-model="tamuraEntities">
                <li ng-repeat="entity in tamuraEntities" ui-tree-node>
                    <div ui-tree-handle class="tree-node tree-node-content project">
                        <a class="btn btn-success btn-xs tree-node-collapse-btn" ng-class="{'uncollapsed': !collapsed}" data-nodrag="true" ng-click="toggle(this)">
                            <span class="glyphicon glyphicon-chevron-down" ng-class="{
                            'glyphicon-chevron-right': collapsed,
                            'glyphicon-chevron-down': !collapsed,
                            'uncollapsed': !collapsed
                            }"></span>
                        </a>
                        <span class="tree-node-title" ng-if="entity.type == 1000">
                            {{'tamura-directory.design-office' | translate}}
                        </span>
                        <span class="tree-node-title" ng-if="entity.type == 2000">
                            {{'tamura-directory.factory' | translate}}
                        </span>
                        <span class="tree-node-title" ng-if="entity.type == 3000">
                            {{'tamura-directory.sales-office' | translate}}
                        </span>
                    </div>
                    <ol ui-tree-nodes="" ng-model="entity.data" ng-class="{hidden : collapsed}">
                        <li ng-repeat="item in entity.data" ui-tree-node>
                            <div ui-tree-handle class="tree-node tree-node-content rfq">
                                <span class="tree-node-title" ng-click="$parent.viewEntity(item)">
                                    {{item.country_name}} - {{item.name}} {{item.short_name}}
                                </span>
                            </div>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>

    </div>
</div>