<md-dialog class="tamura-dialog" ng-cloak>

    <md-toolbar class="tamura-dialog-toolbar">
        <div class="md-toolbar-tools">
            {{ 'add-tamura-entity-dialog.add-tamura-entity' | translate }}
        </div>
    </md-toolbar>

    <md-dialog-content class="tamura-dialog-content">

        <form name="addTamuraEntityForm">

            <div class="row form-row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label class="form-label" for="name">{{'add-tamura-entity-dialog.name' | translate}}</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input required type="text" name="name" id="name" ng-model="name" class="form-control form-input">
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label class="form-label" for="shortName">{{'add-tamura-entity-dialog.short-name' | translate}}</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input required type="text" name="shortName" id="shortName" ng-blur="checkShortName(shortName)" ng-model="shortName" class="form-control form-input">
                </div>
            </div>

            <div class="row form-row" ng-if="shortNameAlreadyExists == true">
                <div class="col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-6 col-sm-12 col-xs-12">
                    <span class="label label-danger">{{'add-tamura-entity-dialog.short-name-exists' | translate}}</span>
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label class="form-label" for="country">{{'add-tamura-entity-dialog.country' | translate}}</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <select required class="form-control"
                            id="country"
                            ng-model="country"
                            ng-options="country.name for country in countries track by country.id">
                    </select>
                </div>
            </div>

        </form>

    </md-dialog-content>

    <md-dialog-actions class="" layout="row">

        <span flex></span>

        <button class="btn btn-danger" ng-click="cancel()">
            {{ 'add-tamura-entity-dialog.cancel' | translate }}
        </button>
        &nbsp;&nbsp;&nbsp;
        <button class="btn btn-success" ng-disabled="!name || !shortName || !country" ng-click="addTamuraEntity()">
            {{ 'add-tamura-entity-dialog.save' | translate }}
        </button>

    </md-dialog-actions>

</md-dialog>
