<md-dialog class="tamura-dialog" ng-cloak>

    <md-toolbar class="tamura-dialog-toolbar">
        <div class="md-toolbar-tools">
            {{ 'rfq-material-dialog.edit-rfq-material' | translate }}
        </div>
    </md-toolbar>

    <md-dialog-content class="tamura-dialog-content">

        <form name="newRfqMaterialForm" enctype="multipart/form-data">

            <input type="hidden" name="rfq_id" id="rfq_id" ng-model="specification.rfq_id"  class="form-control form-input">

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="type">{{ 'rfq-material-dialog.type' | translate }}</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <select class="form-control" id="type" name="type" ng-change="toggleTypeSelected()" ng-model="type" required>
                        <option ng-repeat="type in types" ng-value="type.type">{{type.type}}</option>
                    </select>
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="material">{{ 'rfq-material-dialog.part-no' | translate }}</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <select required class="form-control" ng-disabled="!typeSelected" id="material" name="material"
                            ng-options="material.part_no for material in materials track by material.id" ng-model="material">
                    </select>
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label class="form-label" for="qty">{{ 'rfq-material-dialog.qty' | translate }}</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input required type="number" name="qty" id="qty" ng-model="qty" class="form-control form-input">
                </div>
            </div>



        </form>

    </md-dialog-content>

    <md-dialog-actions class="" layout="row">

        <span flex></span>

        <button class="btn btn-danger" ng-click="cancel()">
            {{ 'rfq-material-dialog.cancel' | translate }}
        </button>
        &nbsp;&nbsp;
        <button class="btn btn-success" ng-click="editRfqMaterial()">
            {{ 'rfq-material-dialog.edit' | translate }}
        </button>

    </md-dialog-actions>

</md-dialog>
