<md-dialog class="tamura-dialog" ng-cloak>

    <md-toolbar class="tamura-dialog-toolbar">
        <div class="md-toolbar-tools">
            {{ 'data-sheet.add-rfq-production' | translate }}
        </div>
    </md-toolbar>

    <md-dialog-content class="tamura-dialog-content">
        <form name="formGenerateSale">
            <div class="row form-row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <label class="form-label" for="addFactoryProduction">{{'data-sheet.factory' | translate}}</label>
                </div>
                <div  class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <select name="addFactoryProduction" id="addFactoryProduction" class="form-control form-input"
                            ng-options="office.name for office in factories track by office.id"  ng-model="production.factory" >
                    </select>
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <label class="form-label" for="addProductionCurrency">{{'data-sheet.currency' | translate}}</label>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <select name="addProductionCurrency" id="addProductionCurrency" class="form-control form-input"
                            ng-options="c.short_name for c in rfqCurrencies track by c.id"  ng-model="production.currency" >
                    </select>
                </div>
            </div>

            <div class="row form-row">

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <label class="form-label" for="addLastProductionDate">{{'data-sheet.last-production-date' | translate}}</label>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
                    <input type="text" name="addLastProductionDate" id="addLastProductionDate" ng-model="production.lastProductionDate" class="form-control form-input">
                    <script type="text/javascript">
                        $('#addLastProductionDate').datepicker({format: 'dd/mm/yyyy' });
                    </script>
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <label class="form-label">{{'data-sheet.std-cost-roll-up-material' | translate}}</label>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <input class="form-control form-input" type="number" step="0.001" name="stdCostRollUpMaterial" id="addStdCostRollUpMaterial" ng-model="production.stdCostRollUpMaterial" >
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <label class="form-label">{{'data-sheet.std-cost-roll-up-labour-time' | translate}}</label>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <input class="form-control form-input" type="number" name="stdCostRollUpLabourTime" id="addStdCostRollUpLabourTime" ng-model="production.stdCostRollUpLabourTime" >
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <label class="form-label">{{'data-sheet.std-cost-roll-up-labour-euro' | translate}}</label>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <input class="form-control form-input" type="number" step="0.001" name="stdCostRollUpLabourEuro" id="addStdCostRollUpLabourEuro" ng-model="production.stdCostRollUpLabourEuro" >
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <label class="form-label">{{'data-sheet.std-cost-roll-up-total-euro' | translate}}</label>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <input class="form-control form-input" type="number" step="0.001" name="stdCostRollUpTotalEuro" id="addStdCostRollUpTotalEuro" ng-model="production.stdCostRollUpTotalEuro" >
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <label class="form-label">{{'data-sheet.so-price-factory-material-cost' | translate}}</label>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <input class="form-control form-input" type="number" step="0.001" name="soPriceFactoryMaterialCost" id="addSoPriceFactoryMaterialCost" ng-model="production.soPriceFactoryMaterialCost" >
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <label class="form-label">{{'data-sheet.so-price-factory-labour-cost' | translate}}</label>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <input class="form-control form-input" type="number" step="0.001" name="soPriceFactoryLabourCost" id="addSoPriceFactoryLabourCost" ng-model="production.soPriceFactoryLabourCost" >
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <label class="form-label">{{'data-sheet.so-price-factory-cost-cost' | translate}}</label>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <input class="form-control form-input" type="number" step="0.001" name="soPriceFactoryCost" id="addSoPriceFactoryCost" ng-model="production.soPriceFactoryCost" >
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <label class="form-label">{{'data-sheet.roll-up-material-estimated-material-cost-euro' | translate}}</label>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <input class="form-control form-input" type="number" step="0.001" name="rollUpMaterialEstimatedMaterialCostEuro" id="addRollUpMaterialEstimatedMaterialCostEuro" ng-model="production.rollUpMaterialEstimatedMaterialCostEuro" >
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <label class="form-label">{{'data-sheet.roll-up-labour-estimated-labour-time-euro' | translate}}</label>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <input class="form-control form-input" type="number" name="rollUpLabourEstimatedLabourTimeEuro" id="addRollUpLabourEstimatedLabourTimeEuro" ng-model="production.rollUpLabourEstimatedLabourTimeEuro" >
                </div>
            </div>

            <div class="row form-row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <label class="form-label">{{'data-sheet.roll-up-labour-estimated-labour-cost-euro' | translate}}</label>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <input class="form-control form-input" type="number" step="0.001" name="rollUpLabourEstimatedLabourCostEuro" id="addRollUpLabourEstimatedLabourCostEuro" ng-model="production.rollUpLabourEstimatedLabourCostEuro" >
                </div>
            </div>
        </form>

    </md-dialog-content>

    <md-dialog-actions class="" layout="row">

        <span flex></span>

        <button class="btn btn-danger" ng-click="cancel()">
            {{ 'add-tamura-entity-dialog.cancel' | translate }}
        </button>
        &nbsp;&nbsp;&nbsp;
        <button class="btn btn-success" ng-click="addRfqProduction()">
            {{ 'add-tamura-entity-dialog.save' | translate }}
        </button>

    </md-dialog-actions>

</md-dialog>
